@import "../../_vars";

// Body type classes

html {
	height: 100%;

}
html, body {
	.font-siri--regular();
	color: @black;
	font-size: @font-size--regular; 
	//-webkit-font-smoothing: antialiased;
}


.page {
	 .query-min(@screen-lg; {

    });	
}

.wrapper {
	.clearfix;
	max-width: @grid-width;
	margin: 0 auto;
	padding: 0 @spacing;
}
