@import "../../_vars";

// Body type classes

html {
	height: 100%;

}
html, body {
	.font-siri--regular();
	color: @black;
	font-size: @font-size--regular; 
	-webkit-font-smoothing: antialiased;
}

/*
.page {
	@include query-min(@screen-lg) {}
}

#mfPreviewBar{
	display: none !important;
}
.wrapper {
	@extend %clearfix;
	max-width: @grid-width;
	margin: 0 auto;
	padding: 0 @spacing;
}
*/