 @import "../../_vars";

.flag {
	.query-min(@screen--sm; {
		width: 100%;
		display: table;
		position: relative;
		.clearfix();
	
		// Flag elements
		&__item {
			display: table-cell;
			vertical-align: middle;
		}
	
		&__item {
			width: 50%;
			padding: 0px;
			& *:last-child {
				margin-bottom: 0;
			}
			&--33 {
				width: percentage( 1 / 3 );
			}
			&--66 {
				width: percentage( 2 / 3 );
			}			
			&--40 {
				width: 40%;
			}
			&--60 {
				width: 60%;
			}			
		}

		// Flag modifiers
		&--rev {
			direction: rtl;
	
			.flag__item {
				direction: ltr;
			}

		}
	
		&--top {
			.flag__item {
				vertical-align: top;
			}
		}
	
		&--bottom {
			.flag__item {
				vertical-align: bottom;
			}
		}
	});
	&--min-lg {
		.query-max(@screen--lg; {			
			display: block;
			position: static;
			.flag__item {
				display: block;
				width: auto;
			}	
		});
	}
}