@import "../../_vars";

.wrapper {
	width: 100%;
	max-width: @grid-width;
	margin: 0 auto;
	padding: 0 @gutter;
	min-width: 13em;
}

/* Traditional float based */
.row {
	.row(); /* Se mixins in _vars.less */
}
ul.row, ol.row {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	li {
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;
		list-style: none;
	}
}
/* Flexbox based */
.flex-row {
	display: flex;
  flex-wrap: wrap;
	margin-left:  (@gutter / -2);
	margin-right: (@gutter / -2);
	.col--fifth {
		width: 100%;
	  flex-basis: auto;
		.query-min(@screen--md; {
			width: 33.33%;
		});
		.query-min(@screen--lg; {
		  width: 20%;
		});
	}
	.col--six {
		width: 100%;
	  flex-basis: auto;
    .query-min(@screen--sm; {
      width: 33.33%;
    });
    .query-min(@screen--md; {
			width: 25%;
		});
    .query-min(@screen--lg; {
		  width: 16.666%;
		});
	}
  .col--align-bottom {
    align-self: flex-end;
  }
}

.col--full {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
}

.col--main {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--md; {
		.col(14/22); /* Se mixins in _vars.less */
		.col-offset(1/22);
	});
	.query-min(@screen--lg; {
		.col(12/22); /* Se mixins in _vars.less */
		.col-offset(2/22);
	});
	@media print {
		.col(14/22); /* Se mixins in _vars.less */
		.col-offset(0);
	}
}

.col--filter {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--md; {
		.col(14/22); /* Se mixins in _vars.less */
		.col-offset(1/22);
	});
	.query-min(@screen--lg; {
		.col-offset(1/22);
		.col(7/22); /* Se mixins in _vars.less */
		float: right !important; // Sorry ... media queries inside less mixins is apearantly not reccommended
	});
}

.col--related {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */  
	});
	.query-min(@screen--md; {
		.col(7/22); /* Se mixins in _vars.less */
	});
	.query-min(@screen--lg; {
		.col-offset(1/22);
		.col(7/22); /* Se mixins in _vars.less */
	});
  @media print {
		.col-offset(0);
  }
}

.col--main-wide {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--md; {
		.col(21/22); /* Se mixins in _vars.less */
		.col-offset(1/22);
	});
	.query-min(@screen--lg; {
		.col(20/22); /* Se mixins in _vars.less */
		.col-offset(2/22);
	});
  @media print {
		.col(21/22); /* Se mixins in _vars.less */
		.col-offset(0);
  }
}

.col--half {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--md; {
		.col(1/2); /* Se mixins in _vars.less */
	});
}

.col--half-lg {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--lg; {
		.col(1/2); /* Se mixins in _vars.less */
	});
}

.col--third {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--md; {
		.col(1/2); /* Se mixins in _vars.less */
	});
	.query-min(@screen--lg; {
		.col(1/3); /* Se mixins in _vars.less */
	});
}

.col--quarter {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--md; {
		.col(1/3); /* Se mixins in _vars.less */
	});
	.query-min(@screen--lg; {
		.col(1/4); /* Se mixins in _vars.less */
	});

}

.col--fifth {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--md; {
		.col(1/3); /* Se mixins in _vars.less */
	});
	.query-min(@screen--lg; {
		.col(1/5); /* Se mixins in _vars.less */
	});

}


.col--six {
	.query-min(@screen--sm; {
		.col(1); /* Se mixins in _vars.less */
	});
	.query-min(@screen--lg; {
		.col(1/6); /* Se mixins in _vars.less */
	});

}


.col--main {
	.col-block-bleed {
		margin-left: -@gutter;
		margin-right: -@gutter;
		&--inline-mobile {
			margin-left: 0;
			margin-right: 0;
		}
		.query-min(@screen--md; {
			width: percentage(22/14);
			margin-left: percentage(-1/14);
		});
		.query-min(@screen--lg; {
			width: percentage(16/12);
			margin-left: percentage(-2/12);
		});
    @media print {
			width: percentage(22/14);
			margin-left: percentage(-1/14);
    }
	}
	.col-block-bleed--full {
		margin-left: -@gutter;
		margin-right: -@gutter;

		.query-min(@screen--md; {
			width: percentage(22/14);
			margin-left: percentage(-1/14);
		});
		.query-min(@screen--lg; {
			width: percentage(22/12);
			margin-left: percentage(-2/12);
		});
    @media print {
			width: percentage(22/14);
			margin-left: percentage(-1/14);
    }
	}
	.col-block-bleed--full-right {
		.query-min(@screen--md; {
			width: percentage(21/14);
		});
		.query-min(@screen--lg; {
			width: percentage(20/12);
		});
		@media print {
			width: percentage(21/14);
		}
	}
}
.col--big-image {
	.query-min(@screen--md; {
		.col(2.25 / 3.25);
	});
}
.col--small-image {
	.query-min(@screen--sm; {
		.col(1 / 2);
	});
	.query-min(@screen--md; {
		.col(1 / 3.25);
	});

}

.col--flow {
	/* A modifier for columns when they may become stacked to prevent uneven linebreaks. Need spacing commented out in the markup. */
	float: none;
	display: inline-block;
	vertical-align: top;
}

.col--right-padding {
	/* A modifier for columns when they may become stacked to prevent uneven linebreaks. Need spacing commented out in the markup. */
	.query-min(@screen--md; {
		padding-right: @spacing !important;
	});
}
