@import "../../_vars";

.wrapper {
	width: 100%;
	max-width: @grid-width;
	margin: 0 auto;	
	padding: 0 @gutter;
	min-width: 13em;
}

.row {
	.row(); /* Se mixins in _vars.less */
}
ul.row, ol.row {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	li {
		padding-top: 0;
		padding-bottom: 0;	
		margin: 0;	
		list-style: none;	
	}
}

.col--full {
	.col(1); /* Se mixins in _vars.less */
}

.col--main {
	.col(1); /* Se mixins in _vars.less */
	@media (min-width: @screen--md) {
		.col(14/22); /* Se mixins in _vars.less */
		.col-offset(1/22);		
	}
	@media screen and (min-width: @screen--lg) {
		.col(12/22); /* Se mixins in _vars.less */
		.col-offset(2/22);
	}	
}

.col--filter {
	.col(1); /* Se mixins in _vars.less */
	@media (min-width: @screen--md) {
		.col(14/22); /* Se mixins in _vars.less */
		.col-offset(1/22);		
	}	
	@media (min-width: @screen--lg) {
		.col-offset(1/22);		
		.col(7/22); /* Se mixins in _vars.less */
		float: right !important; // Sorry ... media queries inside less mixins is apearantly not reccommended		
	}		
}

.col--related {
	.col(1); /* Se mixins in _vars.less */
	@media (min-width: @screen--md) {
		.col(7/22); /* Se mixins in _vars.less */	
	}
	@media screen and (min-width: @screen--lg) {
		.col-offset(1/22);		
		.col(7/22); /* Se mixins in _vars.less */
	}		
}

.col--main-wide {
	.col(1); /* Se mixins in _vars.less */
	@media (min-width: @screen--md) {
		.col(21/22); /* Se mixins in _vars.less */
		.col-offset(1/22);		
	}
	@media screen and (min-width: @screen--lg) {
		.col(20/22); /* Se mixins in _vars.less */
		.col-offset(2/22);
	}	
}

.col--half {
	.col(1); /* Se mixins in _vars.less */ 
	@media (min-width: @screen--md) {
		.col(1/2); /* Se mixins in _vars.less */	
	}
}

.col--half-lg {
	.col(1); /* Se mixins in _vars.less */ 
	@media (min-width: @screen--lg) {
		.col(1/2); /* Se mixins in _vars.less */
	}	
}

.col--third {
	.col(1); /* Se mixins in _vars.less */ 
	@media (min-width: @screen--md) {
		.col(1/2); /* Se mixins in _vars.less */	
	}
	@media (min-width: @screen--lg) {
		.col(1/3); /* Se mixins in _vars.less */	
	}
}

.col--quarter {
	.col(1); /* Se mixins in _vars.less */
	@media (min-width: @screen--md) {
		.col(1/3); /* Se mixins in _vars.less */	
	}
	@media (min-width: @screen--lg) {
		.col(1/4); /* Se mixins in _vars.less */
	}		
	
}

.col--fifth {
	.col(1); /* Se mixins in _vars.less */
	@media (min-width: @screen--md) {
		.col(1/3); /* Se mixins in _vars.less */	
	}
	@media (min-width: @screen--lg) {
		.col(1/5); /* Se mixins in _vars.less */
	}		
	
}


.col--six {
	.col(1); /* Se mixins in _vars.less */
	@media (min-width: @screen--lg) {
		.col(1/6); /* Se mixins in _vars.less */
	}		
	
}


.col--main {
	.col-block-bleed {
		margin-left: -@gutter;
		margin-right: -@gutter;		
		&--inline-mobile {
			margin-left: 0;  
			margin-right: 0;	
		}
		@media (min-width: @screen--md) {
			width: percentage(22/14);
			margin-left: percentage(-1/14);		
		}	
		@media screen and (min-width: @screen--lg) {
			width: percentage(16/12);
			margin-left: percentage(-2/12);
		}	
	}
	.col-block-bleed--full {
		margin-left: -@gutter;
		margin-right: -@gutter;		
		
		@media (min-width: @screen--md) {
			width: percentage(22/14);
			margin-left: percentage(-1/14);		
		}	
		@media screen and (min-width: @screen--lg) {
			width: percentage(22/12);
			margin-left: percentage(-2/12);
		}
	}
	.col-block-bleed--full-right {		
		@media (min-width: @screen--md) {
			width: percentage(21/14);
		}	
		@media screen and (min-width: @screen--lg) {
			width: percentage(20/12);
		}
	}	
}
.col--big-image {
	@media (min-width: @screen--md) {		 	
		.col(2.25 / 3.25);
	}
} 
.col--small-image {
	@media (min-width: @screen--sm) {		 		
		.col(1 / 2);	
	}
	@media (min-width: @screen--md) {		 	
		.col(1 / 3.25);
	}

}

.col--flow {
	/* A modifier for columns when they may become stacked to prevent uneven linebreaks. Need spacing commented out in the markup. */
	float: none;
	display: inline-block;
	vertical-align: top;
}

.col--right-padding {
	/* A modifier for columns when they may become stacked to prevent uneven linebreaks. Need spacing commented out in the markup. */
	@media (min-width: @screen--md) {		 		
		padding-right: @spacing !important;
	}
}