
@import "../../_vars";

// Default Variables
@simple-line-font-path        : "/UI/icons/";
@simple-line-icon-prefix      : icon__;

/*

 Use the following CSS code if you want to have a class per icon

Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {

*/

.@{simple-line-icon-prefix} {

	&add, &apply, &arrow-down, &arrow-left, &arrow-right, &arrow-up, &attatchment, &call, &chart-bars, &chart-line, &chart-pie, &chart-set, &chat, &check, &close, &comments, &contract, &controls, &date, &discussion, &down, &download, &edit, &email, &expand, &export, &external, &facebook, &favorite, &female, &file, &files, &flag, &folder, &home, &info, &key, &left, &link, &location, &locked, &mail, &male, &map, &merge, &pay, &print, &rate, &right, &search, &settings, &stack, &tooltip, &twitter, &unlocked, &up, &update, &upload, &user, &users, &youtube, &zoom-in, &zoom-out, &related, &table
   {
	display: inline-block;
	height: 1em;
	width: 1em;
    speak: none;
    vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
  }
}

// BLACK ICONS

.@{simple-line-icon-prefix}add {
	background-image: url('/UI/icons/icon-add.svg');
}
.@{simple-line-icon-prefix}apply {
	background-image: url('/UI/icons/icon-apply.svg');
}
.@{simple-line-icon-prefix}arrow-down {
	background-image: data-uri('/UI/icons/icon-arrow-down.svg');
}
.@{simple-line-icon-prefix}arrow-left {
	background-image: data-uri('/UI/icons/icon-arrow-left.svg');
}
.@{simple-line-icon-prefix}arrow-right {
	background-image: data-uri('/UI/icons/icon-arrow-right.svg');
}
.@{simple-line-icon-prefix}arrow-up {
	background-image: url('/UI/icons/icon-arrow-up.svg');
}
.@{simple-line-icon-prefix}attatchment {
	background-image: url('/UI/icons/icon-attatchment.svg');
}
.@{simple-line-icon-prefix}call {
	background-image: data-uri('/UI/icons/icon-call.svg');
}
.@{simple-line-icon-prefix}chart-bars {
	background-image: data-uri('/UI/icons/icon-chart-bars.svg');
}
.@{simple-line-icon-prefix}chart-line {
	background-image: data-uri('/UI/icons/icon-chart-line.svg');
}
.@{simple-line-icon-prefix}chart-pie {
	background-image: url('/UI/icons/icon-chart-pie.svg');
}
.@{simple-line-icon-prefix}chart-set {
	background-image: data-uri('/UI/icons/icon-chart-set.svg');
}
.@{simple-line-icon-prefix}chat {
	background-image: url('/UI/icons/icon-chat.svg');
}
.@{simple-line-icon-prefix}check {
	background-image: data-uri('/UI/icons/icon-check.svg');
}
.@{simple-line-icon-prefix}close {
	background-image: data-uri('/UI/icons/icon-close.svg');
}
.@{simple-line-icon-prefix}comments {
	background-image: url('/UI/icons/icon-comments.svg');
}
.@{simple-line-icon-prefix}contract {
	background-image: url('/UI/icons/icon-contract.svg');
}
.@{simple-line-icon-prefix}controls {
	background-image: url('/UI/icons/icon-controls.svg');
}
.@{simple-line-icon-prefix}date {
	background-image: url('/UI/icons/icon-date.svg');
}
.@{simple-line-icon-prefix}discussion {
	background-image: url('/UI/icons/icon-discussion.svg');
}
.@{simple-line-icon-prefix}down {
	background-image: url('/UI/icons/icon-down.svg');
}
.@{simple-line-icon-prefix}download {
	background-image: data-uri('/UI/icons/icon-download.svg');
}
.@{simple-line-icon-prefix}edit {
	background-image: url('/UI/icons/icon-edit.svg');
}
.@{simple-line-icon-prefix}email {
	background-image: data-uri('/UI/icons/icon-email.svg');
}
.@{simple-line-icon-prefix}expand {
	background-image: url('/UI/icons/icon-expand.svg');
}
.@{simple-line-icon-prefix}export {
	background-image: data-uri('/UI/icons/icon-export.svg');
}
.@{simple-line-icon-prefix}external {
	background-image: data-uri('/UI/icons/icon-external.svg');
}
.@{simple-line-icon-prefix}facebook {
	background-image: url('/UI/icons/icon-facebook.svg');
}
.@{simple-line-icon-prefix}favorite {
	background-image: url('/UI/icons/icon-favorite.svg');
}
.@{simple-line-icon-prefix}female {
	background-image: url('/UI/icons/icon-female.svg');
}
.@{simple-line-icon-prefix}file {
	background-image: url('/UI/icons/icon-file.svg');
}
.@{simple-line-icon-prefix}files {
	background-image: url('/UI/icons/icon-files.svg');
}
.@{simple-line-icon-prefix}flag {
	background-image: url('/UI/icons/icon-flag.svg');
}
.@{simple-line-icon-prefix}folder {
	background-image: url('/UI/icons/icon-folder.svg');
}
.@{simple-line-icon-prefix}home {
	background-image: data-uri('/UI/icons/icon-home.svg');
}
.@{simple-line-icon-prefix}info {
	background-image: data-uri('/UI/icons/icon-info.svg');
}
.@{simple-line-icon-prefix}key {
	background-image: url('/UI/icons/icon-key.svg');
}
.@{simple-line-icon-prefix}left {
	background-image: url('/UI/icons/icon-left.svg');
}
.@{simple-line-icon-prefix}link {
	background-image: url('/UI/icons/icon-link.svg');
}
.@{simple-line-icon-prefix}location {
	background-image: url('/UI/icons/icon-location.svg');
}
.@{simple-line-icon-prefix}locked {
	background-image: url('/UI/icons/icon-locked.svg');
}
.@{simple-line-icon-prefix}mail {
	background-image: data-uri('/UI/icons/icon-mail.svg');
}
.@{simple-line-icon-prefix}male {
	background-image: url('/UI/icons/icon-male.svg');
}
.@{simple-line-icon-prefix}map {
	background-image: url('/UI/icons/icon-map.svg');
}
.@{simple-line-icon-prefix}merge {
	background-image: url('/UI/icons/icon-merge.svg');
}
.@{simple-line-icon-prefix}pay {
	background-image: url('/UI/icons/icon-pay.svg');
}
.@{simple-line-icon-prefix}print {
	background-image: url('/UI/icons/icon-print.svg');
}
.@{simple-line-icon-prefix}rate {
	background-image: url('/UI/icons/icon-rate.svg');
}
.@{simple-line-icon-prefix}right {
	background-image: url('/UI/icons/icon-right.svg');
}
.@{simple-line-icon-prefix}search {
  background-image: data-uri('/UI/icons/icon-search.svg');
}
.@{simple-line-icon-prefix}settings {
	background-image: url('/UI/icons/icon-settings.svg');
}
.@{simple-line-icon-prefix}stack {
	background-image: url('/UI/icons/icon-stack.svg');
}
.@{simple-line-icon-prefix}tooltip {
	background-image: url('/UI/icons/icon-tooltip.svg');
}
.@{simple-line-icon-prefix}twitter {
	background-image: url('/UI/icons/icon-twitter.svg');
}
.@{simple-line-icon-prefix}unlocked {
	background-image: url('/UI/icons/icon-unlocked.svg');
}
.@{simple-line-icon-prefix}up {
	background-image: url('/UI/icons/icon-up.svg');
}
.@{simple-line-icon-prefix}update {
	background-image: url('/UI/icons/icon-update.svg');
}
.@{simple-line-icon-prefix}upload {
	background-image: url('/UI/icons/icon-upload.svg');
}
.@{simple-line-icon-prefix}user {
	background-image: url('/UI/icons/icon-user.svg');
}
.@{simple-line-icon-prefix}users {
	background-image: url('/UI/icons/icon-users.svg');
}
.@{simple-line-icon-prefix}youtube {
	background-image: url('/UI/icons/icon-youtube.svg');
}
.@{simple-line-icon-prefix}zoom-in {
	background-image: url('/UI/icons/icon-zoom-in.svg');
}
.@{simple-line-icon-prefix}zoom-out {
	background-image: url('/UI/icons/icon-zoom-out.svg');
}
.@{simple-line-icon-prefix}related {
	background-image: data-uri('/UI/icons/icon-related.svg');
}
.@{simple-line-icon-prefix}table {
	background-image: data-uri('/UI/icons/icon-table.svg');
}

// WHITE ICONS


.@{simple-line-icon-prefix}add.icon--white {
	background-image: url('/UI/icons/white/icon-add.svg');
}
.@{simple-line-icon-prefix}apply.icon--white {
	background-image: url('/UI/icons/white/icon-apply.svg');
}
.@{simple-line-icon-prefix}arrow-down.icon--white {
	background-image: data-uri('/UI/icons/white/icon-arrow-down.svg');
}

.@{simple-line-icon-prefix}arrow-left.icon--white {
	background-image: data-uri('/UI/icons/white/icon-arrow-left.svg');
}

.@{simple-line-icon-prefix}arrow-right.icon--white {
	background-image: data-uri('/UI/icons/white/icon-arrow-right.svg');
}
.@{simple-line-icon-prefix}arrow-up.icon--white {
	background-image: url('/UI/icons/white/icon-arrow-up.svg');
}
.@{simple-line-icon-prefix}attatchment.icon--white {
	background-image: url('/UI/icons/white/icon-attatchment.svg');
}

.@{simple-line-icon-prefix}call.icon--white {
	background-image: data-uri('/UI/icons/white/icon-call.svg');
}
.@{simple-line-icon-prefix}chart-bars.icon--white {
	background-image: data-uri('/UI/icons/white/icon-chart-bars.svg');
}
.@{simple-line-icon-prefix}chart-line.icon--white {
	background-image: data-uri('/UI/icons/white/icon-chart-line.svg');
}

.@{simple-line-icon-prefix}chart-pie.icon--white {
	background-image: url('/UI/icons/white/icon-chart-pie.svg');
}
.@{simple-line-icon-prefix}chat.icon--white {
	background-image: url('/UI/icons/white/icon-chat.svg');
}

.@{simple-line-icon-prefix}check.icon--white {
	background-image: data-uri('/UI/icons/white/icon-check.svg');
}

.@{simple-line-icon-prefix}close.icon--white {
	background-image: data-uri('/UI/icons/white/icon-close.svg');
}

.@{simple-line-icon-prefix}comments.icon--white {
	background-image: url('/UI/icons/white/icon-comments.svg');
}
.@{simple-line-icon-prefix}contract.icon--white {
	background-image: url('/UI/icons/white/icon-contract.svg');
}
.@{simple-line-icon-prefix}controls.icon--white {
	background-image: url('/UI/icons/white/icon-controls.svg');
}

.@{simple-line-icon-prefix}date.icon--white {
	background-image: data-uri('/UI/icons/white/icon-date.svg');
}

.@{simple-line-icon-prefix}discussion.icon--white {
	background-image: url('/UI/icons/white/icon-discussion.svg');
}
.@{simple-line-icon-prefix}down.icon--white {
	background-image: url('/UI/icons/white/icon-down.svg');
}
.@{simple-line-icon-prefix}download.icon--white {
	background-image: data-uri('/UI/icons/white/icon-download.svg');
}

.@{simple-line-icon-prefix}edit.icon--white {
	background-image: url('/UI/icons/white/icon-edit.svg');
}

.@{simple-line-icon-prefix}email.icon--white {
	background-image: data-uri('/UI/icons/white/icon-email.svg');
}

.@{simple-line-icon-prefix}expand.icon--white {
	background-image: url('/UI/icons/white/icon-expand.svg');
}
.@{simple-line-icon-prefix}export.icon--white {
	background-image: data-uri('/UI/icons/white/icon-export.svg');
}
.@{simple-line-icon-prefix}external.icon--white {
	background-image: data-uri('/UI/icons/white/icon-external.svg');
}

.@{simple-line-icon-prefix}facebook.icon--white {
	background-image: url('/UI/icons/white/icon-facebook.svg');
}
.@{simple-line-icon-prefix}favorite.icon--white {
	background-image: url('/UI/icons/white/icon-favorite.svg');
}
.@{simple-line-icon-prefix}female.icon--white {
	background-image: url('/UI/icons/white/icon-female.svg');
}
.@{simple-line-icon-prefix}file.icon--white {
	background-image: url('/UI/icons/white/icon-file.svg');
}
.@{simple-line-icon-prefix}files.icon--white {
	background-image: url('/UI/icons/white/icon-files.svg');
}
.@{simple-line-icon-prefix}flag.icon--white {
	background-image: url('/UI/icons/white/icon-flag.svg');
}
.@{simple-line-icon-prefix}folder.icon--white {
	background-image: url('/UI/icons/white/icon-folder.svg');
}
.@{simple-line-icon-prefix}home.icon--white {
	background-image: data-uri('/UI/icons/white/icon-home.svg');
}

.@{simple-line-icon-prefix}info.icon--white {
	background-image: data-uri('/UI/icons/white/icon-info.svg');
}

.@{simple-line-icon-prefix}key.icon--white {
	background-image: url('/UI/icons/white/icon-key.svg');
}
.@{simple-line-icon-prefix}left.icon--white {
	background-image: url('/UI/icons/white/icon-left.svg');
}
.@{simple-line-icon-prefix}link.icon--white {
	background-image: url('/UI/icons/white/icon-link.svg');
}
.@{simple-line-icon-prefix}location.icon--white {
	background-image: url('/UI/icons/white/icon-location.svg');
}
.@{simple-line-icon-prefix}locked.icon--white {
	background-image: url('/UI/icons/white/icon-locked.svg');
}
.@{simple-line-icon-prefix}mail.icon--white {
	background-image: url('/UI/icons/white/icon-mail.svg');
}
.@{simple-line-icon-prefix}male.icon--white {
	background-image: url('/UI/icons/white/icon-male.svg');
}
.@{simple-line-icon-prefix}map.icon--white {
	background-image: url('/UI/icons/white/icon-map.svg');
}
.@{simple-line-icon-prefix}merge.icon--white {
	background-image: url('/UI/icons/white/icon-merge.svg');
}
.@{simple-line-icon-prefix}pay.icon--white {
	background-image: url('/UI/icons/white/icon-pay.svg');
}
.@{simple-line-icon-prefix}print.icon--white {
	background-image: url('/UI/icons/white/icon-print.svg');
}
.@{simple-line-icon-prefix}rate.icon--white {
	background-image: url('/UI/icons/white/icon-rate.svg');
}
.@{simple-line-icon-prefix}right.icon--white {
	background-image: url('/UI/icons/white/icon-right.svg');
}

.@{simple-line-icon-prefix}search.icon--white {
	background-image: data-uri('/UI/icons/white/icon-search.svg');
}

.@{simple-line-icon-prefix}settings.icon--white {
	background-image: url('/UI/icons/white/icon-settings.svg');
}
.@{simple-line-icon-prefix}stack.icon--white {
	background-image: url('/UI/icons/white/icon-stack.svg');
}
.@{simple-line-icon-prefix}tooltip.icon--white {
	background-image: url('/UI/icons/white/icon-tooltip.svg');
}
.@{simple-line-icon-prefix}twitter.icon--white {
	background-image: url('/UI/icons/white/icon-twitter.svg');
}
.@{simple-line-icon-prefix}unlocked.icon--white {
	background-image: url('/UI/icons/white/icon-unlocked.svg');
}
.@{simple-line-icon-prefix}up.icon--white {
	background-image: url('/UI/icons/white/icon-up.svg');
}
.@{simple-line-icon-prefix}update.icon--white {
	background-image: data-uri('/UI/icons/white/icon-update.svg');
}
.@{simple-line-icon-prefix}upload.icon--white {
	background-image: url('/UI/icons/white/icon-upload.svg');
}
.@{simple-line-icon-prefix}user.icon--white {
	background-image: url('/UI/icons/white/icon-user.svg');
}
.@{simple-line-icon-prefix}users.icon--white {
	background-image: url('/UI/icons/white/icon-users.svg');
}
.@{simple-line-icon-prefix}youtube.icon--white {
	background-image: url('/UI/icons/white/icon-youtube.svg');
}
.@{simple-line-icon-prefix}zoom-in.icon--white {
	background-image: url('/UI/icons/white/icon-zoom-in.svg');
}
.@{simple-line-icon-prefix}zoom-out.icon--white {
	background-image: url('/UI/icons/white/icon-zoom-out.svg');
}

.@{simple-line-icon-prefix}related.icon--white {
	background-image: data-uri('/UI/icons/white/icon-related.svg');
}

// RED ICONS

.@{simple-line-icon-prefix}search.icon--red {
	background-image: data-uri('/UI/icons/red/icon-search.svg');
}
.@{simple-line-icon-prefix}close.icon--red {
	background-image: data-uri('/UI/icons/red/icon-close.svg');
}
.@{simple-line-icon-prefix}arrow-down.icon--red {
	background-image: data-uri('/UI/icons/red/icon-arrow-down.svg');
}
.@{simple-line-icon-prefix}external.icon--red {
	background-image: data-uri('/UI/icons/red/icon-external.svg');
}
