 @import "../../_vars";

.list, ul, ol {
    padding-left: @spacing;
    margin-top: @spacing--large;
    margin-bottom: @spacing--large;
    @media print {
	    margin-top: 30px;
	    margin-bottom: 30px;
	}

    li {
      .fontSize(@font-size--regular);
	    .font-siri--regular();
      margin-bottom: @spacing--small;
      list-style-image: url("/UI/gfx/bullet__small--primary.svg");
      list-style-position: outside;
      padding-left: @spacing/4;
      margin-bottom: 1em;
      line-height: 1.7em;
    }
    &--no-bullets {
	    margin-left: 0;
		padding: 0;
    	li {
		    list-style: none;
    	}
	    padding-left: 0;
    }
    &--sub {
	    margin-left: 0;
        // Do we need more styling to extend this?
	    padding-left: @spacing*2;
	    padding-top: @spacing;
	    li {
			list-style:circle;
	    }
    }
    &--inline {
	    margin-left: 0;

	    li {
		    display: inline-block;
		    &:after {
			    content:"";
		    }
		    &:last-child {
			    &:after {
				    content:"";
			    }
		    }
	    }
    }
    .list, ul, ol {
	    margin-top: @spacing;
	    li {
	        list-style-image: url("/UI/gfx/bullet__small--secondary.svg");
	    }
    }
}
.list--numbered, ol{
    .list--numbered, ol {
	    li {
			list-style: decimal;
			background: none;
	    }
    }
}
.list--numbered li, ol li {
	list-style: decimal;
	background: none;
}
