@import "../../_vars";

h1, .h1 {
 	.h1();
}

h2, .h2 {
	.h2();
}

h3, .h3 {	
	.h3();
}

h4, .h4 {
	.h4()
}

h5, .h5 {
	.fontSize(@font-size--small);
	color: @color__text;
	font-weight: 700;
	margin-bottom: @spacing/2;
	.font-siri--regular();
}

.intro {	
	.fontSize(@font-size--medium);
	.font-siri--regular();
	color: @color__text;	
	font-weight: 400;
	margin-bottom: @spacing--large;
}

.small {
	.fontSize(@font-size--small);
	color: @color__text;
	line-height: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.regular {
	.fontSize(@font-size--regular);
	color: @color__text;
	font-weight: 400;
}

ul, ol {
	list-style-image: url("../gfx/bullet__small--primary.svg");
	list-style-position: outside;
	margin-left: 20px;
}

p, li {
	.fontSize(@font-size--regular);
	.font-siri--regular();		
	color: @color__text;
	margin-bottom: 1em; 
	line-height: 1.7em;
}

/*
li{
	padding-left: @spacing/4;
}
*/

a, .a {
	color: @color__links;
	border-bottom: 1px solid @color__links;
	
	&:hover, &--hover {
		color: @color__text;
		border-color: @color__text;
	}
	&:focus, &--focus {
		outline: none;
		outline-offset: 3px;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	small {
		font-size: 0.7em;
		line-height: 1.5em;				
		display: block;
	}
}

p+h2, p+h3, ul+h2, ul+h3{
	.query-min(@screen--md; {
		margin-top: @spacing--large;
	});
}


