@import "../../_vars";

h1, .h1 {
 	.h1(); /* Se mixin i _vars.less */
}

h2, .h2 {
	.h2(); /* Se mixin i _vars.less */
}

h3, .h3 {	
	.h3(); /* Se mixin i _vars.less */
}

h4, .h4 {
	.h4() /* Se mixin i _vars.less */
} 
 
 

/*
ul, ol {
	Se 3_blocks/_list.less 
}
*/

p, h5, h6, h7, .text {
	.text();
}

a, .a {
	color: @color__links;
	border-bottom: 1px solid @color__links;
	
	&:hover, &--hover {
		color: @color__text;
		border-color: @color__text;
	}
	&:focus, &--focus {
		outline: none;
		outline-offset: 3px;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	small {
		font-size: 0.7em;
		line-height: 1.5em;				
		display: block;
	}
}

p+h2, ul+h2{
	.query-min(@screen--md; {
		margin-top: @spacing--xlarge;
	});
}

p+h3, ul+h3{
	.query-min(@screen--md; {
		margin-top: @spacing--large;
	});
}

.text--xlarge {	
	.h2(); /* Se mixin i _vars.less */
}

.text--large, .text--large p  {	
	.text--large(); /* Se mixin i _vars.less */
	margin-bottom: @spacing--xlarge;
}

.text--small {
	.text--small();
}
