@import "../../_vars";

h1, .h1 {
 	.h1(); /* Se mixin i _vars.less */
 	small {
	 	.h3();
	 	display: block;
 	}
}

h2, .h2 {
	.h2(); /* Se mixin i _vars.less */
}

h3, .h3 {	
	.h3(); /* Se mixin i _vars.less */
}

h4, .h4 {
	.h4(); /* Se mixin i _vars.less */
} 

h5, .h5, h6, h7 {
	.text(); /* Se mixin i _vars.less */
	.font-siri--medium();	
	margin-bottom: 0;
}  
 
.siri--regular {
	.font-siri--regular();	
} 

.siri--medium {
	.font-siri--medium();	
} 

.consolas {
	font-weight: normal;
	font-family: 'Consolas';	
} 

.tahoma {
	font-weight: normal;	
	font-family: 'Tahoma';	
} 

/*
ul, ol {
	Se 3_blocks/_list.less 
}
*/

p, .text {
	.text();
}

a, .a {
	color: @color__links;
	border-bottom: 1px solid @color__links;
	
	&:hover, &--hover, &:focus, &--focus, &:active, &--active {
		color: @color__text;
		border-color: @color__text;
	}
	&:focus, &--focus {
//		outline: none;
		outline-offset: 3px;
	}
}

h2, .h2, h3, .h3, h4, .h4 {
	small {
		font-size: 0.7em;
		line-height: 1.5em;				
		display: block;
	}
}

p+h2, ul + h2, ol + h2, .info + h2 {
	margin-top: @spacing--large;
	.query-min(@screen--sm; {	
		margin-top: 60px;	
	});
	.query-min(@screen--md; {
		margin-top: @spacing--xlarge;
	});
}

p+h3, ul + h3, ol + h3, .info + h3 {
	margin-top: @spacing;
	.query-min(@screen--md; {
		margin-top: @spacing--large;
	});
}

p+h4, ul + h4, ol + h4, .info + h4, h3 + h4 {
	margin-top: @spacing;
	.query-min(@screen--md; {
		margin-top: @spacing--large;
	});
}

p+h5, ul + h5, ol + h5, .info + h5, h4 + h5 {
	margin-top: @spacing;
}

p+h6, ul + h6, ol + h6, .info + h6, h5 + h6 {
	margin-top: @spacing;
}

p+h7, ul + h7, ol + h7, .info + h7, h6 + h7 {
	margin-top: @spacing;
}


.text--xlarge {	
	.h2(); /* Se mixin i _vars.less */
}

.text--large, .text--large p  {	
	.text--large(); /* Se mixin i _vars.less */
}

.text--small {
	.text--small();
}


