@import "../../_vars";

.t-only-screenreaders {
	position: absolute;
	overflow: hidden;
	width:1px;
	height:1px;
}

.t-no-list-styles, .t-no-list-styles > li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.t-position {
	position: relative;
	.clearfix();
}
.t-margin-bottom {
	margin-bottom: @spacing;
}
.t-margin-bottom--large {
	margin-bottom: @spacing--large;
}