@import "../../_vars";

.t-only-screenreaders {
	position: absolute;
	overflow: hidden;
	width:1px;
	height:1px;
}

.t-no-list-styles, .t-no-list-styles > li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.t-position {
	position: relative;
	.clearfix();
}
.t-margin-bottom {
	margin-bottom: @spacing;
}
.t-margin-bottom--large {
	margin-bottom: @spacing--large;
}
.t-margin-bottom--xlarge {
	margin-bottom: @spacing--xlarge;
}
.t-margin-top {
	margin-top: @spacing;
}
.t-margin-top--large {
	margin-top: @spacing--large;
}

.t-show-on-desktop {
	display: none;
	@media (min-width: @screen--lg), print {	
		display: block;
	}
}
.t-show-on-tablet {
	display: none;
	@media (min-width: @screen--md), print {	
		display: inherit;
	}
}
.t-hide-on-tablet {
	@media (min-width: @screen--md), print {	
		display: none;
	}
}
.t-align-right {
	text-align: right;
}
.t-float-left {
	float: left;
}
.t-float-right {
	float: right;
}