@import "../../_vars";

/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing over
 * and over in your markup.
 */

.clearfix,
#clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }

}
