.accordion li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  padding: 20px;
  border: 2px solid rgba(221,221,221,0);

  &:hover {
    border: 2px solid rgba(221,221,221,1);
  }
  
  h3 {
    margin-bottom: 0px;
  }
}

.accordion--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease;

  img.open {
    transition: transform 0.2s ease;
    transform: rotate(180deg);
  }
}

.accordion--content {
  display: none;
  margin-top: 40px;
}

.accordion .accordion--content.open {
  display: inline-block;
}
