@import "../../_vars";

.box {
	border: 3px solid @color__orange;
	background: @color__white;	
	margin-top: @spacing--large;
	margin-bottom: @spacing--large;	
	padding: @spacing @gutter;	
	@media (min-width: @screen--lg) {		
		padding: @spacing--large;
		padding-bottom: @spacing;	
		margin-top: @spacing--large;
		margin-bottom: @spacing--large;			
	}
	&__title {
		.h4();
		margin-bottom: @spacing;
	}
}