@import "../../_vars";

.breadcrumbs {
  display: block;
	margin: 0 0 @spacing 0;
	.query-min(@screen--sm; {
		margin: 0 0 42px 0;	
	});
	.query-min(@screen--md; {
		margin: 0 0 57px 0;		
	});
	@media print {
		display: none;
	}	
	&__list{
		list-style-type: none;
	}
	&__divider{
		color: @color__grey;
		margin: 0 @spacing--small/4 0 @spacing--small/2;
	}
	&__list-item{
		.text--small();		
		display: inline;
		&--current{
			color: @color__grey;
		}
	}
	&__link{
		border-bottom: none;
		&:hover, &:focus, &:active {
			border-bottom: 1px solid @color__text;
		}
	}
}