 @import "../../_vars";
 
 .bullet {
	 background: url('/UI/gfx/square--red.svg') no-repeat center center;
	 background-size: contain;
	 width: 100%;
	 padding-bottom: 100%;
	 position: relative;
	 &--cta {
		 background-image: url('/UI/gfx/square--green.svg');
	 }
	 &__content {
		 position: absolute;
		 width: 100%;
		 top: 50%;
		 transform: translateY(-50%);
		 color: @color__white;
		 text-align: center;
		 padding: @spacing--large;
		 a {
			 color: @color__white;			 
			 border-color: @color__white;
		 }
		 p, span {
			 margin-bottom: 0;
		 }
	 }
	 &__icon {
		.fontSize(@font-size--large);
		display: block;
		line-height: (60 / @font-size--xlarge);
		margin-bottom: 14px;
	 }
}