 @import "../../_vars";

.button {
	.font-siri--medium();
	.fontSize(@font-size--regular);
	padding: @spacing--small  @spacing;
	margin: @spacing--medium 0;
	background: @color__links;
	color: @color__white;
	width: 100%;
	text-align: center;
	display: block;
	border: 2px solid @color__links;

	.query-min(@screen--sm; {
		width: auto;
		display: inline-block;
	});
	
	&--large {
		padding: @spacing--medium @spacing*2;
		margin-bottom: @spacing;
	}
	&--small {
		.text--small();
		padding: @spacing--xsmall  @spacing--small;
	}
	&--inline {
		display: inline-block;
		margin: 0 0;
		vertical-align: middle;
	}
	&:hover, &:focus, &:active {
		background: darken(@color__links, 10%);
		border: 2px solid darken(@color__links, 10%);

		color: @color__white;
	}
	
	&--secondary {
		background: @color__canvas-grey;
		color: @color__text;
		border: 2px solid @color__canvas-grey;
			
		&:hover, &:focus, &:active {
			background: darken(@color__canvas-grey, 10%);
			border: 2px solid darken(@color__canvas-grey, 10%);
			color: @color__text;
		}
		
		&.button--active {
			border-color: @color__orange;
		}		
	}
	
	&--option {
		background: @color__canvas-grey;
		color: @color__text;
		border: 2px solid @color__canvas-grey;
		width: 100%;
		max-width: 25em;	
    text-align: left;
    padding-left: @spacing--large;
    position: relative;
		&:hover, &:focus, &:active {
			background: darken(@color__canvas-grey, 10%);
			border: 2px solid darken(@color__canvas-grey, 10%);
			color: @color__text;
		}  	
		i {
      position: absolute;
      top: 11px;
      left: @spacing--medium;
		}
	}
	
	&__sidekick {
		@media (min-width: @screen--sm) {
			margin-left: @spacing; 
		}		
	}
	
	
}