 @import "../../_vars";

.button {
	padding: @spacing--small  @spacing;
	margin: @spacing--medium 0;
	background: @color__links;
	color: @color__white;
	.fontSize(@font-size--regular);
	width: 100%;
	text-align: center;
	display: block;
	border: 4px solid @color__links;
	
	.font-siri--medium();

	.query-min(@screen--sm; {
		width: auto;
		display: inline-block;
	});
	
	&--large {
		padding: @spacing--medium @spacing*2;
	}
	&--small {
		padding: @spacing--xsmall  @spacing--small;
	}
	&:hover, &:focus, &:active {
		background: darken(@color__links, 10%);
		border: 4px solid darken(@color__links, 10%);

		color: @color__white;
	}
	
	&--secondary {
		background: @color__canvas-grey;
		color: @color__text;
		border: 4px solid @color__canvas-grey;
			
		&:hover, &:focus, &:active {
			background: darken(@color__canvas-grey, 10%);
			border: 4px solid darken(@color__canvas-grey, 10%);
			color: @color__text;
		}
	}
	
	
	
}