@import "../../_vars";

.chart {
  width: 100%;
  background-color: white;
  position: relative;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  &--bubble {
    width: 700px;
    height: 700px;
    background-color: white;    
  }
  &--summary {
    width: 100%;
    background-color: white;
    position: relative;
    display:inline-block;    
  }
  &__background {
    &--benchmark {
      fill: rgb(255, 255, 255);      
    }
  }
	&__line {
  	// tick
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  	&--zero {
    	// graph__backgroundLine--zero
      	stroke: #000;
  	}
  	&--benchmark {
      stroke: rgb(242, 239, 237) !important;    	
  	}
	}
	&__axis {
    	&--vertical {
        	
    	}
	}
	&__path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;  	
   	stroke-width: 2px;
	}
	&__text {
    font-family: sans-serif;
    font-size: 12px;  
  	&--benchmark {
      fill: rgb(64, 57, 53);	
  	}	
	}
}

select.units {
  width: 100px;
}

div.focus {
  background-color: white;
  position: absolute;
  pointer-events: none;
  padding: 5px;
  min-width: 75px;
  min-height: 50px;
}

button.chart {
  width:200px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin: 0px 0px 0px 3px;
}