@import "../../_vars";

.chart {
  width: 100%;
  background-color: white;
  position: relative;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;

  text.svg-text.title {
    font-size: 25;
  }

  &--bubble {
    width: 700px;
    height: 700px;
    background-color: white;    
  }
  &--summary {
    width: 100%;
    background-color: white;
    position: relative;
    display:inline-block;    
  }
  &__svg {
    padding-top: 2px; // for text above graphs
    @media print {
      width: 100%;
      height: auto;
    }
  }  
  &__background {
    &--benchmark {
      fill: rgb(255, 255, 255);      
    }
  }
  &__line-dot {
    
  }
  &__line-dot-focus {
    background-color: white;
    position: absolute;
    pointer-events: none;
    padding: 5px;
    min-width: 75px;
    min-height: 50px;    
  }
	&__line {
  	// tick
    fill: none;
    stroke: #777777;
    shape-rendering: crispEdges;
  	&--zero {
    	// graph__backgroundLine--zero
      stroke: #bbb;
  	}
  	&--benchmark {
      stroke: rgb(242, 239, 237) !important;    	
  	}
	}
	&__text {
    font-size: 16px;
    transform: translateY(-6px);
  	&--benchmark {
      fill: rgb(64, 57, 53);	
  	}	
	}	
	&__axis {
      path, line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      text {
        font-family: sans-serif;
        font-size: 12px;
      }  	
    	&--category {
      	text {
        	font-family: 'Siri',sans-serif;
          font-size: 15px;
        }
    	}      
    	&--vertical {
        	
    	}
    	&--x {
      	
    	}
    	&--y {
      	
    	}
    	&--left {
      	
    	}
    	&--right {
      	
    	}
	}
	
	/* Unused but reacable selectors in the DOM */
	
  &__area {
    
  }
  &__voronoi {
    
  }
  &__d3-points {
    
  }	
	&__legend {
  	
	}
	&__path {
	}
  &__category {
    
  }
  &__bar {
      &--left {
        
      }
      &--right {
        
      }
      &--benchmark {
        
      }
  }
  &__bar-hover {
    
  }
  &__legend-wrapper {
    
  }
  &__node {
    
  }	
}

//  remove description below charts
.graph__description {
  display: none;
}

//  remove source below charts
.toggle.toggle--light.t-no-margin p {
  display: none;
}

//  move download buttons (below diagram) a bit up
.graph__functions {
  transform: translateY(-45px);
}
