 @import "../../_vars";

.contact {
	margin-bottom: @spacing;
	padding-bottom: @spacing;
	border-bottom: 1px solid @color__canvas-grey;
	&__title{
		.fontSize(@font-size--regular);
	}
	&__list-item{
		line-height: 1;
		&--large{
		.fontSize(@font-size--large);
		.font-siri--light();			}
	}
}