 @import "../../_vars";
 
.cta {
	.text--large();	
	display: block;
	position: relative;
	border: 3px solid @color__green;
	padding: @spacing;
	padding-bottom: @spacing--small;
	padding-left: 4.8rem; 
	min-height: 50px + @spacing + @spacing + 6px;
	margin-top: @spacing--large;
	margin-bottom: @spacing--large;
	line-height: 50px;
	@media print {
		border-width: 1px;	
		padding-left: @spacing;	
		page-break-inside: avoid;	
	}		
	&__icon {
		.fontSize(@font-size--regular);
		position: absolute;
		display: block;
		width: 2.8rem;
		height: 2.8rem;
		line-height: 2.8rem;
		text-align: center;
		top: @spacing;
		left: @spacing;
		background-image: data-uri('https://www.imdi.no/UI/gfx/square--green.svg');
		background-position: center center;
		background-repeat: no-repeat;			
		background-size: contain;
		color: @color__white;	 
		@media print {
			display: none !important;	
		}			
	}
	&__image {
		position: absolute;
		width: 118px;
		top: @spacing;
		left: @spacing + 33px;
		.query-min(@screen--lg; {
			top: @spacing + 33px;
			left: @spacing;		   
		});
		@media print {
			display: none !important;	
		}
	}
	&__primary-link {
		color: @color__text;
		border-color: @color__green--dark;
		&:hover, &:active, &:focus {
			color: @color__green--dark;
			border-color: @color__green--dark;
		}
	}
	&--secondary {
		line-height: inherit;
        vertical-align: middle;
        padding-top: 31px;
        width: 100%;
		p {
			.fontSize(@font-size--small);
			line-height: (35 / @font-size--medium);	
	        margin-bottom: @spacing;	        
			
		}	
		a {
			.fontSize(@font-size--regular);	
			color: @color__green--dark;
			border-color: @color__green--dark;
			&:hover, &:active, &:focus {
				color: @color__text;
				border-color: @color__text;
			}
		}		
		ul, ol {
			padding-left: 0;
			margin-top: 0;
			margin-bottom: @spacing;
			li {
				padding-left: 0;
		        list-style: none;		
		        margin-bottom: @spacing--small;
			}
		}
		.info {
			margin-bottom: @spacing;
			p {
				.text();
			}
		}	
	}
	&--simple {
      margin: 0;
      border: 0;
      padding: 0;
      min-height: 0;
      .cta__title {
        .text--small();
        margin: 0;
      }
      ul, ol {
  			padding-left: 0;
  			margin-top: 0;
  			margin-bottom: @spacing;
  			li {
  				padding-left: 0;
  		        list-style: none;		
  		        margin-bottom: @spacing--small;
  			}
  		}
      a {

        color: @color__black;
        border-color: @color__black;
        &:hover, &:focus {
          color: @color__links;
          border-color: @color__links;
        }

      }

	}
	&--with-image {
		padding-left: @spacing;
		padding-top: 155px; 		
		.query-min(@screen--lg; {
			padding-top: @spacing;
			padding-left: 160px; 		
		});
		@media print {
			padding-top: @spacing;				
			padding-left: @spacing;		
		}			
	}	
}