@import "../../_vars";

.cta-frontpage {
	margin-bottom: @spacing;	
	.query-min(@screen--md; {
		.row();		
		margin-top: @spacing;
	});
	&__item {
		.query-min(@screen--md; {		
			.col(1/3);	 			
		});
	}
	
	&__bullet {
		.h3();
		display: table-cell;
		vertical-align: top;
		color: @color__green--dark; 
		background-image: data-uri('/UI/gfx/square--green-outline.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain; 		
		text-align: center;		
		width: 50px;
		height: 50px;
		line-height: 50px;
		.query-min(@screen--md; {		
			display: block;
			margin: 0 auto;
			margin-bottom: @spacing;	
			width: 75px;
			height: 75px;
			line-height: 75px;
			.transition(color 400ms @swift-out);
		});
		.query-min(@screen--lg; {	
			.fontSize(@font-size--large);	
			width: 100px;
			height: 100px;
			line-height: 100px;			
		});
	}
	
	&__text {
		.h3();
		.font-siri--regular();
		display: table-cell;
		vertical-align: middle;
		padding-left: ( @gutter / 2 );
		color: @color__text;	
		border-bottom: 1px solid transparent;	
		padding-top: 3px;	
		.query-min(@screen--md; {			
			display: inline;
			padding: 0;
			text-align: center;		
			color: @color__text;							
		});
		.query-min(@screen--lg; {	
			.fontSize(@font-size--large);	
		});		
	}

	&__link {
		display: table;
		margin-bottom: @spacing;
		border: none;			
		width: 100%;		
		.query-min(@screen--md; {
			display: block;			
			text-align: center;
			padding: 0 @spacing;	
		});
		&:hover, &:focus {
			.cta-frontpage__bullet {
				color: @color__white;
				background-image: data-uri('/UI/gfx/square--green.svg');							
			}
			.cta-frontpage__text {
				color: @color__green;	
			}
		}
	}

}