 @import "../../_vars";

.employee{
	border-bottom: 1px solid @color__canvas-grey; 
	&__header{
		.fontSize(@font-size--regular);
		margin-bottom: 0px;
	}
	&__list{
		margin: 0;
	}
	&__list-item{
		line-height: 1;
		padding: 0;
		list-style: none;		
	}
	&__link{
		border-bottom: none;
		
	}
}