@import "../../_vars";
 
.feature-small {
	margin-bottom: @spacing--xlarge;
	position: relative;
	&__meta {
		.text--small();
		color: @color__grey;
	}
	&__title {
		.h3();
		margin-bottom: 0;
	}
	&__link {
		 
	}
	&__description {
		.text();
		margin-bottom: 0;
	}

	&__bullet-icon {
		.fontSize(@font-size--small);
		position: absolute;
		display: block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		top: 0;
		left: -2px;
		background: url('/UI/gfx/square--red.svg') no-repeat center center;
		background-size: contain;
		color: @color__white;
		@media (min-width: @screen--lg) {
			.fontSize(@font-size--regular);	
			width: auto;
			height: auto;		
			background: none;
			position: relative;	
			display: block;
			margin: 0 auto;
			line-height: 1;
		}	 		 
	}	 
	&__bullet-content {
		display: inline;
		@media (min-width: @screen--lg) {
			display: block;
			color: @color__white;
			position: absolute;
			top: 50%;
			width: 100%;		
			.transform(translateY(-50%));
			text-align: center;
			padding: @spacing;	
			border: none;		
		}				
	}	
	&__bullet-link, &__bullet-info {
		position: relative;
		.text--small();
		padding-left: 40px;
		padding-top: 5px;
		display: block;
		border: none;
		margin: @spacing--small 0;

		@media (min-width: @screen--lg) {
			position: absolute;
			padding: 0;
			display: block;
			width: 120px;
			height: 120px;
			text-align: center;
			top: 0;
			left: 0;
			background: url('/UI/gfx/square--red.svg') no-repeat center center;
			background-size: contain;
			border: none;			
		}		
	}
	&__bullet-link	{
		.feature-small__bullet-content {
			color: @color__green--dark;
			border-bottom: 1px solid @color__green--dark;
			@media (min-width: @screen--lg) {
				color: @color__white;
				border-bottom: 1px solid @color__white;	
			}			
		}
		&:hover, &:active, &:focus {
			.feature-small__bullet-content {
				color: @color__text;
				border-color:  @color__text;		
			}
		}		
		@media (min-width: @screen--lg) {
			background-image: url('/UI/gfx/square--green.svg');			
		}
		.feature-small__bullet-icon {
			background-image: url('/UI/gfx/square--green.svg');
			@media (min-width: @screen--lg) {
				background: none;
			}			
		}
	}
	&__image {
		display: none;
		@media (min-width: @screen--lg) {
			position: absolute;
			padding: 0;
			display: block;
			width: 120px;
			height: 120px;
			top: 0;
			left: 0;
		}
	}
	&--with-bullet {
		@media (min-width: @screen--lg) {
			padding-left: ( 120px + @spacing );
		}
	}
	 
 }