 @import "../../_vars";
 
.feature {
	position: relative;
	padding: @spacing--large 0;		 	 
	max-width: 100%;
	overflow: hidden;
	&--case {
		background: @color__canvas-grey;
		padding: 0;		 
	}
	&__image-wrapper {
		margin: 0 -@gutter;
		@media (min-width: @screen--md) {
			margin: 0;
		}	
	}
	&__image {
		@media (min-width: @screen--md) {
			
		}		
		@media (min-width: @screen--md) {
			display: block;	
			position: static;		 
			background: @color__canvas-grey--dark;
			-webkit-clip-path: polygon( 55.3% 100%, 100% 32.9%, 78.1% 0%, 21.9% 0%, 0% 32.9%, 44.7% 100% );
			clip-path: polygon( 55.3% 100%, 100% 32.9%, 78.1% 0%, 21.9% 0%, 0% 32.9%, 44.7% 100% );		// TODO Is not supported in 
			margin-top: 0;	
			height: 100%;
			position: absolute;
			left: percentage( 12 / 20 );
		} 
	}
	&__content-wrapper {
		padding: @spacing--large 0;		 
		@media (min-width: @screen--md) {
			max-width: percentage( 12 / 20 );
		}		
	}
	&__prefix {
		.h4(); 
	}
	&__title {
		.h4();
		margin-bottom: @spacing--large;
	}
	&__case-title {
		.h2();
	}
	&__leadtext {

	}
	 
}