@import "../../_vars";
 
.feature-small {
	position: relative;
	padding-bottom: @spacing--large;
	padding-top: @spacing--large;
	@media (min-width: @screen--lg) {
	}	
	&__meta {
		.text--small();
		color: @color__grey;
	}
	&__title {
		.h3();
		margin-top: 0;
		margin-bottom: 0;
/*
		a {
			color: @color__text;
			border-bottom-color: @color__canvas-grey--dark; 
			&:hover, &:focus {
				color: @color__links;
				border-bottom-color: @color__links; 				
			}
		}
*/
	}
	&__link {
		 
	}
	&__prefix {
		.text--small();
		color: @color__grey;		
		margin-bottom: 0;
	}
	&__description {
		.text();
		margin-bottom: 0;
	}

	&__image {
		@media (max-width: @screen--lg) {
			width: 50%;
			padding-bottom: @spacing;
		}
	}
	&--case {
		background: @color__canvas-grey;
		padding-left: @gutter;
		padding-right: @gutter;
		padding-top: @spacing;
		padding-bottom: @spacing;
		margin-left: -@gutter;
		margin-right: -@gutter;
		margin-bottom: @spacing;
		margin-top: @spacing;
	}
	&--publication, &--person, &--event {
		padding-top: @spacing;
		padding-bottom: @spacing;		
	}
	 
}