@import "../../_vars";
 
.field-notification {
	background: @color__canvas-yellow;
	padding: @spacing--xsmall;
	margin-right: @spacing--small;
	margin-left: -@spacing--xsmall;
	margin-right: -@spacing--xsmall;
	margin-bottom: @spacing--small;
	position: relative;
	z-index: 1;
	@media (min-width: @screen--md) {	
		margin: 0;
		margin-top: -@spacing;
	}	
	&--animate {
		.animation(animations__shake--vertical 700ms @swift-out);
	}
	
	&__caption {
		.text--small();
		.fontSize(10);
		text-transform: uppercase;
		line-height: @spacing - @spacing--xsmall;
	}
	> div {
		margin: 0;
	}
}