 @import "../../_vars";

.figure{
	width: 100%;
	&--triangular {
		overflow: hidden;
		background: @color__canvas-grey;	
		//-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
		//clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);		
		width: 100%;
		position: relative;
		padding-bottom: 100%;	
		img {
			position: absolute;
			width: 100%;	
		}	
	}
	&--person {
		background-image: url('/UI/gfx/default-user.svg');
		background-size: cover;
		background-position: center center;
	}
	&--on-large {
		display: none;
		@media (min-width: @screen--md) {
			display: block;	
		}
	}
	&--on-small {
		display: block;
		@media (min-width: @screen--md) {
			display: none;	
		}		
	}
}

.figure--left {
	left: 0;
	
	img {
		margin-left: -155%;	
	}
	
}

.figure--right {
	right: 0;
	text-align: right;
	
	
	img {
		margin-left: -155%;
	}
	
	
}