 @import "../../_vars";

.figure{
	&--triangular {
		overflow: hidden;
		background: @color__canvas-grey;	
		-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
		clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);		
		width: 100%;
		position: relative;
		padding-bottom: 100%;	
		img {
			position: absolute;
			width: 100%;	
		}	
	}
}

.figure--left {
	left: 0;
	
	img {
		margin-left: -155%;	
	}
	
}

.figure--right {
	right: 0;
	text-align: right;
	
	
	img {
		margin-left: -155%;
	}
	
	
}