 @import "../../_vars";

.figure{
	&--trialgular {
	overflow: hidden;
	img {
		max-width: 300%;
		-webkit-clip-path: polygon(50% 0%, 85% 50%, 50% 100%, 15% 50%);
		clip-path: polygon(50% 0%, 85% 50%, 50% 100%, 15% 50%);
	}
	
}
}

.figure--left {
	left: 0;
	
	img {
		margin-left: -155%;	
	}
	
}

.figure--right {
	right: 0;
	text-align: right;
	
	
	img {
		margin-left: -155%;
	}
	
	
}