@import "../../_vars";

.filter-wrapper {
	@media (min-width: @screen--md) {
		display: table;
		direction: rtl;
	}
	&__graph {
		@media (min-width: @screen--md) {
			display: table-cell;
			direction: ltr;	
			vertical-align: top;
			padding: @spacing;		
		}
		//border: 1px solid red;
	}
	&__filter {
		@media (min-width: @screen--md) {		
			.transition(width 250ms @swift-out);			
			display: table-cell;	
			width: 0%;
			direction: ltr;	
			vertical-align: top;	
			background: @color__canvas-grey;	
			padding: @spacing--small;
			padding-top: @spacing--xlarge;									
			&--contracted {
				width: 0%;
				//.animation(animations__fade-out-up 300ms linear);				
			}		
			&--expanded {
				width: 25%;
				//.animation(animations__fade-in-down 400ms linear both);			
			}
		}
	}
	&__toggle-button {
		position: absolute; 
		right: @spacing;  
		&--contracted {
							
		}		
		&--expanded {
			
		}
	}	
}		