@import "../../_vars";

.filter-toggle {
	display: block;
	margin-bottom: 0;
	border: none;
	color: @color__text;
	&:hover {
		.filter-toggle__button {
			background: darken( @color__canvas-grey , 10% );			
		}
		.filter-toggle__editable {
			//color: @color__links;
			color: @color__canvas-grey--dark;
			border-bottom-color:@color__links;
			border-bottom-color:@color__text;
		}
	}
	&__button {
		.text--small();
		display: inline-block; 
		padding: @spacing--xsmall  @spacing--small;		
		background: @color__canvas-grey;	
		border: 2px solid @color__canvas-grey;			
	}
	&__sentence {			
		display: block;
		padding-bottom: @spacing;
		max-width: 40em;
	}
	&__editable {
		display: inline; 
		border-bottom: 1px dotted transparent;
		.transition(all 350ms @swift-out);
	}
	&__caption-expanded {
		display: none;		
	}
	&__caption-contracted {
		display: inline;		
	}
	&--expanded {
		position: absolute;
		bottom: 0;
		z-index: 2;
		margin-bottom: 0;
		.filter-toggle__caption-expanded {
			display: inline;
		}
		.filter-toggle__caption-contracted {
			display: none;
		}
		.filter-toggle__sentence {
			display: none;
		}
	}
	&--contracted {
		.filter-toggle__caption-expanded {
			display: none;
		}
		.filter-toggle__caption-contracted {
			display: inline;
		}		
		.filter-toggle__sentence {
			display: block;
		}		
	}
	&__wrapper {
		position: relative;
		padding-bottom: 1px;
		margin-bottom: @spacing;
	}
}		