@import "../../_vars";

.filter-wrapper {
	@media (min-width: @screen--lg) {
		display: table;
		direction: rtl;
	}
	&__graph {
		padding: @spacing;		
		padding-top: @spacing--large + @spacing;
		background: @color__white;
		@media (min-width: @screen--lg) {
			//.transition(width 250ms @swift-out);			
			display: table-cell;
			direction: ltr;	
			vertical-align: top;		
			padding-top: @spacing;
		}
		//border: 1px solid red;
	}
	&__filter {
		padding: @spacing @gutter;
		padding-top: @spacing--large + @spacing--small;		
		@media (min-width: @screen--lg) {		
			//.transition(width 250ms @swift-out);			
			display: table-cell;	
			width: 0%;
			direction: ltr;	
			vertical-align: top;	
			background: @color__canvas-grey;	
			padding: @spacing--small;
			padding-top: @spacing--large + @spacing--small;
			padding-right: 0;
			z-index: 0;									
		}
		&--contracted {
			.animation(animations__fade-out 300ms @swift-out);				
		}		
		&--expanded {
			.animation(animations__fade-in 250ms @swift-out both);
			border: 3px solid @color__orange;	
			@media (min-width: @screen--lg) {
				border: none;	
			}		
		}			
		@media (min-width: @screen--lg) {
			width: percentage(8/20);
		}			
	}
	&__toggle-button {
		.transition(min-width 250ms @swift-out);							
		position: absolute; 
		right: 0;  
		margin: 0;
		min-width: 100px;
		z-index: 1;	
		text-align: left;		
		&--contracted {
							
		}		
		&--expanded {
			min-width: 100%;
			@media (min-width: @screen--md) {
				min-width: percentage(7/21);
			}	
			@media (min-width: @screen--lg) {
				min-width: percentage(8/20);
			}	
			.filter-wrapper__toggle-icon {
				background-image: url('/UI/Icons/white/icon-close.svg');
			}
		}
	}	
	&__toggle-icon {
		float: right;
		margin-left: @spacing--small;
		margin-top: @spacing--xsmall;
	}
}		