@import "../../_vars";

.footer {
  height: 100%;
  background-color: #3E3F3F !important;
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: relative;

  &__campaign {
    padding-top: @spacing--medium;
    background-color: #F15540 !important;

    h1, h2, h3, h4, h5, p, span, li, a {
      color: white;
    }


  }

  &__column-pair-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__header {
    text-align: center;
    padding: 15px;
    background-color: #A6AAA9;
  }

  &__body {
    display: flex;
    justify-content: space-around;

    @media (max-width: 720px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    width: 100%;
    justify-content: center;

    @media (max-width: 720px) {
      align-items: flex-start;
    }

    &--single {
      width: 100%;
      max-width: 550px;
      min-width: 280px;
    }

    h3 {
      margin-top: 42px;
      padding-left: 26.25px;

      @media (min-width: 1250px) {
        padding-left: 0px;
      }
    }

    ul {
      margin-top: 0px;
      width: 100%;
      max-width: 300px;

      @media (min-width: 1250px) {
        padding-left: 0px;
      }
    }

    @media (max-width: 720px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (min-width: 920px) {
      justify-content: space-around;
    }

    h3, h2, p, ol, li, a {
      color: white;
      text-decoration: none;
      border-bottom: 0px solid white;
    }

    .underline, a:hover {
      text-decoration: underline;
    }

    ol {
      padding: 0;
    }

    li {
      list-style: none;
      margin-bottom: 0;
    }
  }
}
