.footer {
  width: calc(100vw - 15px);
  height: 100%;
  background-color: #3E3F3F !important;
  display: flex;
  flex-direction: column;
  
  &__column-pair-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    
    @media (max-width: 45em) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__header {
    text-align: center;
    padding: 15px;
    background-color: #A6AAA9;
  }
  
  &__body {
    display: flex;
    justify-content: space-around;
    
    @media (max-width: 22em) {
      align-items: center;
      flex-direction: column;
    }
  }
  
  &__column {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  h3, h2, p, ol, li, a {
    color: white;
    text-decoration: none;
    border-bottom: 0px solid white;
  }
  
  .underline, a:hover {
    text-decoration: underline;
  }
  
  ol {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
}

