 @import "../../_vars";

//  remove source below charts
.toggle.toggle--light.t-no-margin p {
  display: none;
}

.graph {
	margin-bottom: @spacing;
	position: relative;
	@media print {

	}
	&__filter {
		margin-bottom: 15px;
    position: relative;
		@media print {
			display: none;
		}
	}
  &__filter-toggle {
    .query-min(@screen--md; {
			position: absolute;
      z-index: 2;
		});
  }
	&__types {
		text-align: right;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__description {
		display: none;
		// .text();
		// max-width: 35em;
		// margin-bottom: @spacing;
	}
	&__annotations {
		p, li {
			.text--small();
		}
		li {
			list-style: decimal;
		}
		max-width: 35em;
		margin-bottom: @spacing;
	}
	&__about {
		max-width: 35em;
	}
	&__functions {
		transform: translateY(-47px);
		margin-bottom: @spacing;
		position: relative;
		.query-min(@screen--md; {
			float: right;
		});
		@media print {
			display: none;
		}
		.button {
			.query-min(@screen--md; {
				display: inline-block;
				margin: 0;
			});
		}
	}
	&__functions-item {
		display: inline-block;
  }
  &__related {
    margin-top: @spacing;
    background: lighten( @color__canvas-grey, 3%);
    margin-left: -@spacing;
    margin-right: -@spacing;
    margin-bottom: -@spacing;
    padding: @spacing;
    padding-bottom: 1px;
  }
}
