 @import "../../_vars";

.graph {
	margin-bottom: @spacing;
	position: relative;
	&__filter {
		@media print {
			display: none;
		}								
	}
	&__types {
    	text-align: right;
	}
	&__description {
		.text();
		max-width: 35em;
		margin-bottom: @spacing;
	}
	&__annotations {
		p, li {
			.text--small();
		}
		li {
			list-style: decimal;
		}
		max-width: 35em;
		margin-bottom: @spacing;
	}
	&__about {
		max-width: 35em;
	}
	&__functions {
		margin-bottom: @spacing;
		position: relative;
		@media (min-width: @screen--md) {
			float: right;
			//margin-top: -35px;			
		}
		@media print {
			display: none;
		}						
		.button {
			@media (min-width: @screen--md) {
				//float: right;
				display: inline-block;
				margin: 0;
			}
		}
	}
}