 @import "../../_vars";
 
 .header-bullet {
	width: 100%;
	&--image {
		@media (min-width: @screen--md) {
			position: absolute;
			width: 75%;	
			margin-top: -25%;
			left: percentage(13/12);
			z-index: 2;
		}		
		@media (min-width: @screen--lg) {		
			margin-top: 0%;	
		}
	}	 		
	@media (min-width: @screen--lg) {			 
	 	width: 100%;
		position: absolute;
		top: 0;
		left: percentage(13/12);	 	
	}	
	&__image { 
		img {
			display: block;
			margin-bottom: @spacing--small;
		}
		@media (min-width: @screen--md) {		
			background: @color__canvas-grey;
			-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);		
			width: 100%;
			position: relative;
			padding-bottom: 100%;
			img {
				position: absolute;
				width: 100%;
	
			}		 
		}
	}
	&__bullet {
		@media (min-width: @screen--lg) {		
			width: 50%;
		}
	}
	& + .header-bullet {
		@media (min-width: @screen--lg) {
			margin-top: 75%;		 
		}
	}
 }