@import "../../_vars";

.header {
  display: block;
	padding-top: 16px;
	padding-bottom: 25px;
	.query-min(@screen--md; {	
		padding-top: 32px;		
		padding-bottom: 32px;	
	});
	@media print {
		padding-left: 10%;
		padding-right: 5%;	
	}
	&__row {
		.clearfix();
		position: relative;
	}
	&__ident {
		margin-top: 0.45em;
		.query-min(@screen--md; {
			margin-top: 0;
		});
	}
	&__button {
		position: absolute;
		background: transparent;
		color: @color__text;
		border: none;
		border-bottom: 2px solid transparent;
		width: auto;	
		.fontSize(@font-size--regular);
		padding: @spacing--small  0;
		margin: 0;		
		.query-min(@screen--md; {	
			padding: @spacing--small  0;
		});
		@media print {
			display: none !important;
		}
		&:hover, &:focus {
			background: transparent;
			color: @color__orange--dark;
			border: none;			
			border-bottom: 2px solid @color__orange--dark;
			.header__menu-icon-bar {
				background-color: @color__orange--dark;
			}
		}
		&--menu {
			top: 12px;
			right: @spacing--small;
			.query-min(@screen--md; {
				top: 20px;	
				right: 100px + @spacing;		
				.transition(right 200ms @swift-out);				
			});			
		}
		&--search {
			display: none;
			.query-min(@screen--md; {	
				display: block;
				top: 20px;
				right: @spacing;		
				text-align: right;							
			});
			&:hover, &:focus {
				.header__search-icon {
					background-image: data-uri('/UI/icons/red/icon-search.svg');					
				}
			}			
		}
	}
	&__menu-icon {
	    display: inline-block;
	    vertical-align: middle;
	    position: relative;
	    width: 1rem;
	    height: 1rem;
	    top: 1px;
        -ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;	    
	    transform-origin: 50% 50%;
	    .transition(transform .3s @swift-out);
	    margin-left: 0.25rem;
	
	    &-bar {
	        position: absolute;
	        display: block;
	        height: 2px;
	        width: 1rem;
	        margin-bottom: 2px;
	        border-radius: 1px;
	        background-color: @color__text;
	        -ms-transform-origin: left top;
			-webkit-transform-origin: left top;
	        transform-origin: left top;
	        .transition(all .3s @swift-out);
	
	        top: 1rem / 3;
	
	        &:first-child {
	            margin-top: 0;
	            top: 0;
	        }
	        &:last-child {
	            margin-top: 0;
	            top: 1rem * 2 / 3;
		        -ms-transform-origin: left bottom;
				-webkit-transform-origin: left bottom;          
	            transform-origin: left bottom;
	        }
	    }
	}
	&__search-icon {
	    margin-left: 0.25rem;
	}
	&__button-text--open {
		display: inline;	
	}	
	&__button-text--close {
		display: none;
	}	
	&__search {
		display: none;
		width: 300px;
		position: absolute;
		top: 14px;
		right: 0px;
	}
	&--overlay {
		width: 100%;
		position: absolute; 
		z-index: 2;
		.header__button {
			color: @color__white;
			&:hover, &:focus {
				border-bottom-color: @color__white;
				color: @color__white;
				.header__menu-icon-bar {
					background-color: @color__white;
				}
				.header__search-icon {
					background-image: data-uri('/UI/icons/white/icon-search.svg');					
				}
			}			
		}
		.header__search {	
			.query-min(@screen--md; {
				.search--header {
					padding-right: 100px;
				}
				.search__input:focus {				
					border-color: @color__white;
				}
				.search__button, .search__input {				
					border-color: @color__white;
					
				}		
			});			
		}
		.header__search-icon {
			background-image: data-uri('/UI/icons/white/icon-search.svg');
		}		
	
        .header__menu-icon-bar {
            opacity: 0;
			background: @color__white;
			width: 1rem;
            &:first-child {
                // top: -2px;
                opacity: 1;
                .transform(rotate(45deg));
            }
            &:last-child {
                top: 1rem * 2 / 3;
                opacity: 1;
                .transform(rotate(-45deg));
            }
        }	
		.header__button-text--open {
			display: none;	
		}	
		.header__button-text--close {
			display: inline;
		}	 
		.search .search__input:focus + .search__button {
			border-color: @color__white;
		}       				
	}
	&--search {	
		.header__button--menu {
			.query-min(@screen--md; {
				right: 300px + @spacing;	
			});
		}
		.header__button--search {
			display: none;	
		}
		.header__search {
			.query-min(@screen--md; {
				display: block;					
				.search__input {				
					.animation(animations__fade-in 200ms @swift-out both);
					-webkit-animation-delay: 100ms;
					animation-delay: 200ms;											
				}
			});
		}		
	}
}