 @import "../../_vars";
 
 .header-bullet {
	width: 100%;
	max-width: 100%;	
	.query-min(@screen--lg; {			 
	 	width: percentage(6/12);
		position: absolute;
		top: 0;
		left: percentage(13/12);	 
		overflow: visible;
		.transform(translateY(-66%));

	});		
	&--image {
		.query-min(@screen--md; {
			position: absolute;
			width: percentage(4/12);	
			left: percentage(13/12);
			top: 5em;
			z-index: 2;
		});		
		.query-min(@screen--lg; {	
			top: 5em;			
			.transform(translateY(0%));	
			left: percentage(13/12);					
		});		
	}	 		
	&__image { 
		margin-left: -@gutter;
		margin-right: -@gutter;			
		.query-min(@screen--md; {		
			margin: 0;	
			width: 200%;
		});
	}
	&__bullet {
		.query-min(@screen--lg; {		
			width: 100%;
		});
	}
	& + .header-bullet {
		.query-min(@screen--lg; {
			margin-top: 75%;
			padding-top: @spacing;		 
		});
	}
 }