@import "../../_vars";

.header {
	padding-top: 32px;
	padding-bottom: 0px;
	@media (min-width: @screen--sm) {
		padding-bottom: 57px;	
	}
	&__row {
		.clearfix();	
		position: relative;
	}
	&__ident {
		
	}
	&__button {
		position: absolute;
		background: transparent;
		color: @color__text;
		border-color: transparent;
		width: auto;	
		.fontSize(@font-size--regular);
		padding: @spacing--small  @spacing--small;
		margin: 0;		
		@media (min-width: @screen--sm) {	
			padding: @spacing--small  @spacing;
		}
		&:hover {
			background: @color__canvas-grey;
			border-color: @color__canvas-grey;
			color: @color__text;
		}
		&--menu {
			top: -3px;
			right: -@spacing--small;	
			@media (min-width: @screen--sm) {			
				top: 14px;	
				right: 0;		
			}
			@media (min-width: @screen--md) {
				top: 14px;	
				right: 100px;		
				.transition(right 200ms @swift-out);				
			}			
		}
		&--search {
			display: none;
			@media (min-width: @screen--md) {	
				display: block;
				top: 14px;
				right: 0;		
			}
		}
	}
	&__menu-icon {
	    display: inline-block;
	    vertical-align: middle;
	    position: relative;
	    width: 1rem;
	    height: 1rem;
	    top: 1px;
	    transform-origin: 50% 50%;
	    .transition(transform .3s @swift-out);
	    margin-right: 0.25rem;
	
	    &-bar {
	        position: absolute;
	        display: block;
	        height: 2px;
	        width: 1rem;
	        margin-bottom: 2px;
	        border-radius: 1px;
	        background-color: @color__text;
	
	        transform-origin: left top;
	        .transition(all .3s @swift-out);
	
	        top: 1rem / 3;
	
	        &:first-child {
	            margin-top: 0;
	            top: 0;
	        }
	        &:last-child {
	            margin-top: 0;
	            top: 1rem * 2 / 3;
	            transform-origin: left bottom;
	        }
	    }
	}
	&__button-text--open {
		display: inline;	
	}	
	&__button-text--close {
		display: none;
	}	
	&__search {
		display: none;
		width: 300px;
		position: absolute;
		top: 14px;
		right: 0px;
	}
	&--overlay {
		width: 100%;
		position: fixed;
		z-index: 2;
		.header__button {
			color: @color__white;
			&:hover {
				background: darken(@color__orange--dark, 10%);
				border-color: darken(@color__orange--dark, 10%);
				color: @color__white;
			}			
		}
		.header__search {
			@media (min-width: @screen--md) {
				.search__input:focus {				
					border-color: @color__white;
				}
				.search__button {				
					border-color: @color__white;
				}				
			}
		}
        .header__menu-icon-bar {
            opacity: 0;
			background: @color__white;
			width: 1rem;
            &:first-child {
                // top: -2px;
                opacity: 1;
                transform: rotate(45deg);
            }
            &:last-child {
                top: 1rem * 2 / 3;
                opacity: 1;
                transform: rotate(-45deg);
            }
        }	
		.header__button-text--open {
			display: none;	
		}	
		.header__button-text--close {
			display: inline;
		}	        				
	}
	&--search {	
		.header__button--menu {
			@media (min-width: @screen--md) {
				right: 300px;	
			}
		}
		.header__button--search {
			display: none;	
		}
		.header__search {
			@media (min-width: @screen--md) {
				display: block;					
				.search__input {				
					.animation(animations__fade-in 200ms @swift-out both);
					-webkit-animation-delay: 100ms;
					animation-delay: 200ms;											
				}
			}
		}		
	}
}