 @import "../../_vars";
 
 .header-bullet {
	width: 100%;
	max-width: 100%;	
	@media (min-width: @screen--lg) {			 
	 	width: percentage(6/12);
		position: absolute;
		top: 0;
		left: percentage(13/12);	 
		overflow: visible;
		.transform(translateY(-66%));

	}	
	&--image {
		@media (min-width: @screen--md) {
			position: absolute;
			width: percentage(4/12);	
			left: percentage(13/12);
			top: 5em;
			z-index: 2;
		}		
		@media (min-width: @screen--lg) {	
			top: 5em;			
			.transform(translateY(0%));	
			left: percentage(13/12);							
		}		

	}	 		
	&__image { 
		margin-left: -@gutter;
		margin-right: -@gutter;			
		img {
			display: block;
			margin-bottom: @spacing--small;
		}
		@media (min-width: @screen--md) {	
			//-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			//clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);					
		}		
		@media (min-width: @screen--lg) {	
			margin: 0;	
			width: 200%;
			position: relative;
			//z-index: 1;
			img {
				position: absolute;
				width: 100%;
	
			}	 
		}
	}
	&__bullet {
		@media (min-width: @screen--lg) {		
			width: 100%;
			//margin-left: -@spacing;
		}
	}
	& + .header-bullet {
		@media (min-width: @screen--lg) {
			margin-top: 75%;
			padding-top: @spacing;		 
		}
	}
 }