 @import "../../_vars";

.hover-box {
	position: absolute;
	z-index: 3;
	border: 2px solid @color__orange;
	background: @color__white;	
	padding: @spacing--small;
	min-width: 7em;
	max-width: 15em;
	pointer-events: none;
	.text--small();		
	.transform( translateX(-50%) translateY(-( @spacing * 0.5 ) - @spacing--small));
	&--description {
    	max-width: 20em;
        padding: @spacing--medium;
        padding-bottom: @spacing; 	
    	p {
            .text--small();		        	
    	}    	
	}
	&--animate {
		.animation(animations__fade-in 250ms @swift-out);
	}	
	&__title {
		display: block;
		.font-siri--medium();
	}
	strong {			
		font-weight: normal;
		font-family: 'Consolas', 'Lucida Console', "Courier";			
	}
	&__point {
		display: block;
		position: absolute;
		z-index: -1;		
		background: @color__white;
		border-bottom: 2px solid @color__orange;
		border-right: 2px solid @color__orange;		
		height: @spacing--medium;
		width: @spacing--medium;
		.transform( translateX(-50%) rotate(45deg));
		bottom: -( @spacing--medium * 0.5 + 1.5px );
		left: 50%;
	}	
	&--left {
		.transform( translateX(-@spacing) translateY(-( @spacing * 0.5 ) - @spacing--small));		
		.hover-box__point {
			left: @spacing - 2px;
		}
	}
	&--right {
		.transform( translateX(-100%) translateY(-( @spacing * 0.5 ) - @spacing--small));
		margin-left: @spacing;
    min-width: 10em;
		.hover-box__point {
			left: auto;
			right: @spacing - @spacing--medium; //@spacing;
		}
	}
	&--top {
		.transform( translateX(-50%) translateY(100%));
		margin-bottom: -( @spacing - @spacing--small );
		.hover-box__point {
      bottom: auto;
      top: -( @spacing--medium * 0.5 + 1.5px );
      .transform( translateX(-50%) rotate(225deg));
		}  	
	}
	&--top-left {
		.transform( translateX(-@spacing) translateY(100%));
		margin-bottom: -( @spacing - @spacing--small );
		.hover-box__point {
  		left: @spacing - 2px;
      bottom: auto;
      top: -( @spacing--medium * 0.5 + 1.5px );
      .transform( translateX(-50%) rotate(225deg));
		}  	
	}
	&--top-right {
		.transform( translateX(-100%) translateY(100%));
		margin-bottom: -( @spacing - @spacing--small );
		margin-left: @spacing;	
    min-width: 10em;
		.hover-box__point {
      left: auto;
			right: @spacing - @spacing--medium; //@spacing;  		
      bottom: auto;
      top: -( @spacing--medium * 0.5 + 1.5px );
      .transform( translateX(-50%) rotate(225deg));
		}  	
	}
	&--left-edge {
		.transform( translateX(( @spacing * 0.5 ) + @spacing--small) translateY(50%));		
		.hover-box__point {
			bottom: auto;
			left: -( @spacing--medium * 0.5 + 2px );
			top: 50%;
			.transform( translateY(-50%) rotate(135deg));
		}
	}
	&--right-edge {
		.transform( translateX(-100%) translateY(50%));	
		margin-left: -( @spacing * 0.5 ) - @spacing--small;	
		.hover-box__point {
			bottom: auto;
			right: -( @spacing--medium * 0.5 + 2px );
			left: auto;
			top: 50%;
			.transform( translateY(-50%) rotate(315deg));
		}
	}	
}