@import "../../_vars";
@import "../2_base/_type";

.ident {
	display: block;
	border: none;
	position: relative;
	height: 2.7rem;
	width: 2.7rem * 3;	
	@media (min-width: @screen--md) {	
		height: 3.3rem;
		width: 3.3rem * 3;	
	}			
	@media (min-width: @screen--lg) {	
		height: 4.5rem;
		width: 4.5rem * 3;			
		margin-left: -( 4.5rem + 1em );			
	}
	@media print {
		//margin-left: 0;
	}
	&__symbol {
		position: absolute;
		display: block;		
		width: 2.7rem;
		@media (min-width: @screen--md) {	
			width: 3.3rem; 			
		}		
		@media (min-width: @screen--lg) {	
			width: 4.5rem; 				
		}		
	}
	
	&__textmark {
		position: absolute;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		padding-top: 0.8rem;
		margin-left: 3.3rem + ( 1em / 2 );	
		top: 3px;
		width: 2.7rem * 2;					
		@media (min-width: @screen--md) {
			padding-top: 0.8rem;
			margin-left: 3.3rem + ( 1em * 3 / 4 );	
			top: 4px;
			width: 3.3rem * 2;	
		}
		@media (min-width: @screen--lg) {
			padding-top: 0.8rem;
			margin-left: ( 4.5rem + 1em );	
			top: 6px;
			width: 4.5rem * 2;	
		}					
		
		.ident__textmark-primary {
			.font-siri--medium();
			.fontSize(@font-size--medium);
			display: block; 
			color: @color__text;
			margin: 0;
			line-height: 1;
			margin-left: -2px;
			@media (min-width: @screen--md) {			
				.fontSize(28);			
			}
			@media (min-width: @screen--lg) {			
				.fontSize(@font-size--large);			
			}			
		}
		.ident__textmark-secondary {
			.font-siri--regular();
			.fontSize(10);
			margin-top: -3px;
			line-height: (21 / @font-size--small);	
			margin-bottom: 0px;					
			display: block;
			color: @color__text;
			display: none;
			@media (min-width: @screen--md) {			
					display: block;
			}

		}
		}
	
	&--compact {

		.query-min(@screen--lg; {
			height: 96px;
		});	
		
		.ident__symbol {
			
			.query-min(@screen--lg; {
				width: 60px;
				height: 60px;
				background-size: 60px 60px;
			});
			
		}
		
		.ident__textmark {
			top: 4px;
			
			.ident__textmark-primary {
				font-size: 38px;
			}
						
			.ident__textmark-secondary {
				display: none;
			}
			
			.query-min(@screen--lg; {
				margin-left: 60px + @gutter;
				padding-top: 12px;
			});	
		}
		
	}
		
}
.header--overlay {
	.ident__symbol {
		background-image: url("/UI/gfx/ident--overlay.svg");
	}
	.ident__textmark-primary, .ident__textmark-secondary {
		color: @color__white;
	}
}
a.ident {
	.ident__symbol {
		.transition(all 250ms @swift-out);
	}
	&:hover, &:focus, &:active {
		.ident__symbol {
			.transform(scale(1.1));	
		}	
	}
}