@import "../../_vars";

.ident-campaign {
	.fontSize(@font-size--regular);
	.font-siri--medium();
	display: inline-block;
	border: none;
	position: relative;
	padding-top: 10px;
	margin-bottom: 0;
	.query-min(@screen--md; {
		.fontSize(@font-size--medium);
		padding-top: 2px;
		margin-top: @spacing;
	});
	.query-min(@screen--lg; {

	});

	&__textmark {
		border-bottom: 2px solid transparent;
		color: @color__white;
		.query-min(@screen--sm; {
			display: block;
		});
	}
}
a.ident-campaign {
	color: @color__white;
	&:hover, &:focus {
		color: @color__links;
		.ident-campaign__textmark {
			border-bottom-color: @color__white;
		}
	}
}
.header--overlay {
	.ident-campaign__symbol {
	}
	.ident-campaign__textmark {
		color: @color__white;
	}
}
