@import "../../_vars";
@import "../2_base/_type";

.ident {
	display: block;
	border: none;
	position: relative;
	margin: 0;
	margin-top: -3px;
	height: 40px;
	width: 40px*3;	
	@media (min-width: @screen--md) {	
		height: 60px;
		width: 60px*3;	
	}			
	@media (min-width: @screen--lg) {	
		height: 81px;
		width: 81px*3;		
	}			
	@media (min-width: @screen--lg) {		
		margin-left: -( 81px + @gutter );			
	}
	&__symbol {
		position: absolute;
		overflow: hidden;
		display: block;		
		background: url("/UI/gfx/ident.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 40px;
		height: 40px;	
		@media (min-width: @screen--md) {	
			width: 60px; 
			height: 60px;				
		}		
		@media (min-width: @screen--lg) {	
			width: 81px; 
			height: 81px;				
		}	
	}
	
	&__textmark {
		position: absolute;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		padding-top: 6px;
		margin-left: 40px + ( @gutter / 2 );	
		top: 3px;
		width: 40px*2;					
		@media (min-width: @screen--md) {
			padding-top: 9px;
			margin-left: 60px + ( @gutter * 3 / 4 );	
			top: 4px;
			width: 60px*2;	
		}
		@media (min-width: @screen--lg) {
			padding-top: 13px;
			margin-left: 81px + @gutter;	
			top: 6px;
			width: 81px*2;	
		}					
		
		.ident__textmark-primary {
			.font-siri--medium();
			.fontSize(@font-size--medium);
			display: block; 
			color: @color__text;
			margin: 0;
			line-height: 1;
			margin-left: -2px;
			@media (min-width: @screen--md) {			
				.fontSize(28);			
			}
			@media (min-width: @screen--lg) {			
				.fontSize(@font-size--large);			
			}			
		}
		.ident__textmark-secondary {
			.font-siri--regular();
			.fontSize(10);
			margin-top: -3px;
			line-height: (21 / @font-size--small);	
			margin-bottom: 0px;					
			display: block;
			color: @color__text;
			/*
			font-size: 20px;
			line-height: 1.4;
			margin-top: @spacing/4;
			*/
		}
		
				
		.ident__textmark-secondary {
			display: none;
		}
			
		.query-min(@screen--md; {
			.ident__textmark-secondary {
				display: block;
			}
		});				
		}
	
	&--compact {

		.query-min(@screen--lg; {
			height: 96px;
		});	
		
		.ident__symbol {
			
			.query-min(@screen--lg; {
				width: 60px;
				height: 60px;
				background-size: 60px 60px;
			});
			
		}
		
		.ident__textmark {
			top: 4px;
			
			.ident__textmark-primary {
				font-size: 38px;
			}
						
			.ident__textmark-secondary {
				display: none;
			}
			
			.query-min(@screen--lg; {
				margin-left: 60px + @gutter;
				padding-top: 12px;
			});	
		}
		
	}
		
}
.header--overlay {
	.ident__symbol {
		background-image: url("/UI/gfx/ident--overlay.svg");
	}
	.ident__textmark-primary, .ident__textmark-secondary {
		color: @color__white;
	}
}