@import "../../_vars";

.illustration {
    position: relative;
    padding-bottom: @spacing--xlarge;
    .query-min(@screen--md; {
      padding-bottom: 0;      
      margin-bottom: @spacing--large;
    });
    &__background {
        display: none;
        .query-min(@screen--md; {
            display: block; 
        });
    }
    &__figure {
        width: auto;
        max-width: 100%;
        .transition(transform 200ms @swift-out);
        margin-bottom: @spacing;
        .query-min(@screen--md; {	
          &:hover, &:focus, &:active {
            .transform(scale(1.1));
            & + .illustration__hover-box {
              display: block !important;
            }
          }
        });
    }
    &__item {
       .query-min(@screen--md; {	
        .illustration__figure {
          .animation(animations__fade-in-down 500ms @swift-out backwards);	
        }
        &:nth-child(1) {
          .illustration__figure {
    				.animation-delay(.05s);
  				}
  			}
  			&:nth-child(2) {
          .illustration__figure {
    				.animation-delay(.1s);
  				}
  			}
  			&:nth-child(3) {
          .illustration__figure {    			
  				  .animation-delay(.15s);	
  				}			
  			}
  			&:nth-child(4) {
          .illustration__figure {
  				  .animation-delay(.2s);	
  				}
  			}
  			&:nth-child(5) {
          .illustration__figure {	
  				  .animation-delay(.25s);
  				}
  			}
  			&:nth-child(6) {
          .illustration__figure {    			
  				  .animation-delay(.3s);
  				}
  			}									
  			&:nth-child(7) {
          .illustration__figure {	
  				  .animation-delay(.35s);
  				}
  			}
  			&:nth-child(8) {
          .illustration__figure {    			
  				  .animation-delay(.4s);
  				}
  			}			        
      });
      &--mobile {
          .query-min(@screen--md; {
              display: none; 
          });
      }      
    }
    &__trigger {
      padding: 0 @gutter;      
      .query-max(@screen--md; {	
        width: auto !important;
      });
      .query-min(@screen--md; {	
        padding: 0;
        position: absolute;
        display: block;
      });
    }
    &__hover-box {
        width: 20em;
        &:hover {        
            display: block !important;
        }
        .query-max(@screen--md; {	        
            display: block !important;
            position: static;
            left: auto !important;
            bottom: auto !important;
            .transform(none);
            width: 100%;
            padding: 0;
            border: none;
            max-width: none;
            margin-bottom: @spacing;
            .hover-box__point {
                display: none;
            }
        });
    }
    &__carousel-button {
      position: absolute;
      z-index: 2;
      .query-min(@screen--md; {	
        display: none !important;
      }); 
      &--previous {
        left: 0;
        bottom: 0;
      } 
      &--next {
        right: 0;
        bottom: 0;
      }  
    }
}