 @import "../../_vars";

 .image-block {
	margin-top: @spacing--large;
	margin-bottom: @spacing--large;

	&__images {
		position: relative;
	}

	&__image {
		display: block;
		width: 100%;
		margin-bottom: @spacing--medium;
		&--figure {
      border: 3px solid @color__canvas-grey;
      padding: @spacing;
      padding-bottom: @spacing--large;
			position: relative;
			
			h3.h4 {
				margin-bottom: 10px;
			}
		}
	}
	&__caption {
		.text--small();
		display: block;

		&.embed {
			display: block;
		}

		&.embed .graph-description {
			margin-top: 15px;
			margin-bottom: 15px;
			display: block;
		}
	}
	&--two-big-left, &--two-big-right {
		position: relative;
		.image-block__images {
			.clearfix();
			.query-min(@screen--md; {
				margin-right: @gutter;
			});
			@media print {
  			margin-right: @gutter;
			}
		}
		.image-block__image:nth-child(2) {
			.query-min(@screen--md; {
				margin-left: @gutter;
				margin-right: -@gutter;
			});
			@media print {
				margin-left: @gutter;
				margin-right: -@gutter;
  		}
		}
		.image-block__image--small {
			margin-left: @gutter;
			width: 50%;
			.query-min(@screen--md; {
				margin-left: 0;
				float: left;
				width: percentage(1 / 3.25);
			});
			@media print {
				margin-left: 0;
				float: left;
				width: percentage(1 / 3.25);
			}
		}
		.image-block__image--big {
			.query-min(@screen--md; {
				float: left;
				width: percentage( 2.25 / 3.25);
			});
			@media print {
				float: left;
				width: percentage( 2.25 / 3.25);
			}
		}
		.image-block__caption {

		}
	}

	&--two-big-right {
		.image-block__caption {

		}
	}

	 &--portrait {
		.query-min(@screen--sm; {
			.image-block__images {
				width: 50%;
			}
		});
		@media print {
			.image-block__images {
				width: 50%;
			}
		}
		.query-min(@screen--lg; {
			.image-block__images {
				width: 50%;
			}
		});
		@media print {
			.image-block__images {
				width: 50%;
			}
		}
	 }
   &__figure-footer {
     background: @color__canvas-grey;
     position: absolute;
     width: auto;
     bottom: 0;
     left: 0;
     right: 0;
   }
 }
