 @import "../../_vars";
 
 .image-block {
	margin-top: @spacing--large;
	margin-bottom: @spacing--large;

	&__images {
		position: relative;		 
	}

	&__image {
		display: block;
		width: 100%;
		margin-bottom: @spacing--medium; 	 	
	}
	&__caption {
		display: block;
		.text--small();
	}
	&--two-big-left, &--two-big-right {	 
		position: relative;
		.image-block__images {
			.clearfix();
			@media (min-width: @screen--md), print {			
				margin-right: @gutter;
			}
		}
		.image-block__image:nth-child(2) {
			@media (min-width: @screen--md), print {			
				margin-left: @gutter;
				margin-right: -@gutter;
			}
		}
		.image-block__image--small {
			margin-left: @gutter;			
			width: 50%;
			@media (min-width: @screen--md), print {
				margin-left: 0;
				float: left;
				width: percentage(1 / 3.25);
			}
		}
		.image-block__image--big {
			@media (min-width: @screen--md), print {
				float: left;
				width: percentage( 2.25 / 3.25);
			}			
		}
		.image-block__caption {
			/*
			@media (min-width: @screen--sm) {
				position: absolute;
				width: 50%;
				left: 50%;
				top: 50%;
				padding-left: ( @gutter / 2 );			
			}
			@media (min-width: @screen--md) {
				position: relative;
				width: auto;
				left: auto;
				top: auto;
				padding: 0;
			}
			*/			
		}		
	}
	
	&--two-big-right {
		.image-block__caption {
			/*
			@media (max-width: @screen--md) {
				top: 0%;			
				height: 50%;
				.image-block__caption-content {
					position: absolute;
					bottom: 0;							
				}		
			}	
			*/		
		}
	}
	 
	 &--portrait {
		@media (min-width: @screen--sm), print {
		 	//display: table;		 
			.image-block__images {
				//display: table-cell;
				//vertical-align: bottom;		
				width: 50%; 
			}
			/*
			.image-block__caption {
				display: table-cell;
				vertical-align: bottom;		  
				padding-left: @gutter;	
				padding-right: @gutter;	
				padding-bottom: @spacing--small;					 
				width: 50%; 			
			}
			*/
		}
		@media (min-width: @screen--lg), print {
			.image-block__images {
				width: 50%;	   
			}
			.image-block__caption {
				//width: 50%;				
			}
		}
	 }
 }
 
 
