@import "../../_vars";

.indicator {
	background: @color__white;
	padding: @spacing;
	margin-bottom: @spacing;
	@media print {
		padding: 0;
		background: none;
	}		
	&__primary {
		.h3();
		margin-bottom: 0;
	}
	&__secondary {
		.text--small();
		margin-bottom: @spacing;
	}
	&__graph {
		margin: @spacing 0;
		img {
			width: 100%;
			max-width: none;
		}
	}
	&__cta {
		margin-bottom: 0;
	}
	&__subtext {
		.text--small(); 
		color: @color__grey;
		a {
			color: @color__grey;			
			border-color: @color__grey;
		}
	}
}