@import "../../_vars";
 
.info {
	margin-bottom: @spacing;
	@media (min-width: @screen--md) {
		margin-bottom: @spacing--large;		 
	}
	&__title {
		.text--small();
		margin-bottom: 0;
		font-weight: normal !important;
	}
	&--numbers p {
		.h2();
	}
	&__number-caption {
		.text--small(); 
		display: block;		 
	}
}