@import "../../_vars";

.lightbox {
	//display: none;  
	&__backdrop {
/*	
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.2);
*/
	}
	&__box {
		/*
		-webkit-box-shadow: 0px 0px 111px -24px rgba(0,0,0,0.50);
		-moz-box-shadow: 0px 0px 111px -24px rgba(0,0,0,0.50);
		box-shadow: 0px 0px 111px -24px rgba(0,0,0,0.50);		
		*/
		
		position: absolute;
		z-index: 2;
		border: 3px solid @color__orange;
		background: @color__white;	
		margin-top: @spacing--large;
		margin-bottom: @spacing--large;	
		padding: @spacing @gutter;	
		@media (min-width: @screen--lg) {		
			padding: @spacing--large;
			padding-bottom: @spacing;	
			margin-top: @spacing--large;
			margin-bottom: @spacing--large;	
			width: 100%;
			margin-left: -@spacing;		
		}
	}
	&__point {
		display: block;
		position: absolute;
		background: @color__white;
		border-top: 3px solid @color__orange;
		border-left: 3px solid @color__orange;		
		height: @spacing;
		width: @spacing;
		.transform( rotate(45deg) );
		top: -( @spacing * 0.5 + 2px );
	}
	&__title {
		.h2();
		margin-bottom: @spacing;
	}
	&__close-button	{
		.h3();
		line-height: 1;
		margin: 0;		
		display: inline-block;
		float: right;
		padding: @spacing--small;
		white-space: nowrap;		
		overflow: hidden;
		background: @color__canvas-grey;
		width: auto;
		&:hover , &:focus , &:active{
			background: darken( @color__canvas-grey, 10% );
		}
	}
	&__footer {
		margin-top: @spacing--large;		
	}
}