@import "../../_vars";

.line {
	border-top: 1px solid @color__black;
	border-bottom: none;
	margin: 0 0 @spacing--large 0;
	border-width: 1px;

	&--light{
		border-color: @color__canvas-grey;  
	}
		
}