 @import "../../_vars";

.list, ul, ol {
    padding-left: @spacing;
    margin-bottom: @spacing;

    li {
        .fontSize(@font-size--regular);
	    .font-siri--regular();        
        margin-bottom: @spacing--small;
        list-style-image: url("/UI/gfx/bullet__small--primary.svg");
        list-style-position: outside;
        padding-left: @spacing/4;
       	margin-bottom: 1em; 
	    line-height: 1.7em;
    }
    &--numbered{

    }
    &--numbered li {
		list-style: decimal;
		background: none;
    }
    &--no-bullets {
	    margin-left: 0;
		padding: 0;
    	li {
		    list-style: none;
    	}
	    padding-left: 0;
    }
    &--sub {
	    margin-left: 0;
        // Do we need more styling to extend this?
	    padding-left: @spacing*2;
	    padding-top: @spacing;
	    li {
			list-style:circle;		    
	    }
    }
    &--inline {
	    margin-left: 0;

	    li {
		    display: inline-block;
		    &:after {
			    content:"";
		    }
		    &:last-child {
			    &:after {
				    content:"";
			    }
		    }
	    }
    }
}