@import "../../_vars";

.loading-indicator {
	display: inline-block;
	height: 1em;
	width: 1em;
    speak: none;
    vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: data-uri('/UI/icons/icon-update.svg');
	.animation(spin 800ms linear infinite);
	&--white {
		background-image: data-uri('/UI/icons/white/icon-update.svg');
	}
}
