 @import "../../_vars";

// Used together with inlin SVG and clip-path to give masked images that works across all browsers

.masked-figure {
	position: relative; 
	width: 100%;
	height: 0; 
	padding: 0;
	&--square {
		padding-bottom: 100%;
	}
	&--height-relative {
		position: absolute;
		height: 100%;
		left: 0;
		max-width: none;
		overflow: hidden;
		.masked-figure__svg {
			width: auto;
			height: 100%;
		}
	}
	
	&__svg {
		 position: absolute; 
		 width: 100%; 				 
		 left: 0; 
		 top: 0;		
	}
	
	/*
	&--triangular {
		overflow: hidden;
		background: @color__canvas-grey;	
		//-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
		//clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);		
		width: 100%;
		position: relative;
		padding-bottom: 100%;	
		img {
			position: absolute;
			width: 100%;	
		}	
	}
	&--person {
		background-image: url('/UI/gfx/default-user.svg');
		background-size: cover;
		background-position: center center;
	}
	&--on-large {
		display: none;
		@media (min-width: @screen--md) {
			display: block;	
		}
	}
	&--on-small {
		display: block;
		@media (min-width: @screen--md) {
			display: none;	
		}		
	}
	&--absolute {
		 position: absolute; 
		 width: 100%; 				 
		 left: 0; 
		 top: 0;
	}	
	*/	
}

/*
.figure--left {
	left: 0;
	
	img {
		margin-left: -155%;	
	}
	
}

.figure--right {
	right: 0;
	text-align: right;
	
	
	img {
		margin-left: -155%;
	}
	
	
}
*/