 @import "../../_vars";

.menu-deeplinks {
  margin-top: @spacing--large;
  margin-bottom: 100px;
  margin-left: -10.5px;
  margin-right: -10.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    width: 100%;
    display: flex;
    margin-bottom: @spacing;

    @media(min-width: @screen--md) {
      width: 50%;
    }
    @media(min-width: @screen--lg) {
      width: 33.333%;
    }
  }

  &__content {
    padding: 30px;
    border: 3px solid #f2efed;
    margin: 10.5px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
  }

  &__heading {
    position: relative;
    background: #fff;
  }

  &__title {
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    margin-left: 0px;
    margin-top: @spacing--large;
    text-transform: uppercase;
  }

  &__icon {
    position: absolute;
    background: #fff;
    border: 2px solid #51a451;
    transform: rotate(45deg);
    left: @spacing--medium;
    width: 42px;
    height: 42px;
    font-size: 21px;
    top: -42px;

    & i {
      transform: rotate(-45deg);
      position: absolute;
      top: 7px;
      left: 7px;
    }
  }

  &__list {
    display: block;
    margin-top: @spacing;
  }

  &__list-item {
    color: #000;
    cursor: pointer;
    display: block;
    padding: 2px 0 5px;
    margin-bottom: @spacing--small;
    margin-right: @spacing--medium;
    border-bottom: 1px solid #000;
    transition: all .2s ease;

    &:hover {
      color: #df2525;
      border-bottom: 1px solid #df2525;
    }

    & i {
      float: right;
    }
  }

  &__see-all {
    margin-top: auto;
    padding-top: @spacing--large;
    text-align: left;

    & a {
      color: #000;
      border: 0;
    }

    & a:hover {
      color: #d83a36;
      border-bottom: 1px solid #d83a36;
    }
  }

}
