@import "../../_vars";
 
.message {
	display: block;	
	position: relative;
	padding-top: 3px;
	padding-left: 35px + @spacing--small;
	margin: @spacing--small 0;
	margin-bottom: @spacing;
	color: @color__orange--dark;
	.fontSize(@font-size--medium);	
	.query-min(@screen--md; {
		padding-left: 0;
	});	
	&__icon {
		.fontSize(@font-size--small);
		position: absolute;
		display: block;
		width: 2rem;
		height: 2rem;
		line-height: 2rem;
		text-align: center;
		top: -3px;
		left: 0;
		background-image: data-uri('https://imdi-styles.firebaseapp.com/UI/gfx/square--red.svg');
		background-position: center center;
		background-repeat: no-repeat;			
		background-size: contain;
		color: @color__white;	
		.query-min(@screen--md; {
			left: -(2rem);
			margin-left: -@spacing--small;
		});				
	} 
	&--ok {
		color: @color__black;
		.message__icon {
			background-image: data-uri('https://imdi-styles.firebaseapp.com/UI/gfx/square--green.svg');
		}
	}
	&--inline {
		margin-bottom: @spacing--small;
		padding: @spacing--small 0;		
		.fontSize(@font-size--regular);
		.message__icon {
			top: 0px;
		}
	}
	
}