 @import "../../_vars";
 
 .meta {
	 .text--small();
	 color: @color__grey;
	 margin-bottom: @spacing--large;

	 &--bottom {
		 margin-top: @spacing--large;
	 }
	 &--no-margin {
		 margin: 0 !important;
	 }
	 &__button {
		 margin-top: @spacing--small;
		 display: block;
		 @media (min-width: @screen--md) {
			display: inline-block;
			margin-top: 0;
		 	margin-left: @spacing--small;
		 }
	 }
	 .ingress + & {
		 margin-top: -@spacing--medium;
		@media (min-width: @screen--md) {
			margin-bottom: @spacing--large;		
		}
		@media (min-width: @screen--md) {
			margin-bottom: @spacing--large;		
		}	
		 @media print {
		 	margin-bottom: @spacing;	 
		 }			 
	 }
 }