 @import "../../_vars";
 
 .meta {
	 .text--small();
	 color: @color__grey;
	 margin-bottom: @spacing--large;

	 &--bottom {
		 margin-top: @spacing--large;
	 }
	 &--no-margin {
		 margin: 0 !important;
	 }
	 &__button {
		 margin-top: @spacing--small;
		 display: block;
		 .query-min(@screen--md; {
			display: inline-block;
			margin-top: 0;
		 });
	 }
	 .ingress + & {
		 margin-top: -@spacing--medium;
		.query-min(@screen--md; {
			margin-bottom: @spacing--large;		
		});
		.query-min(@screen--md; {
			margin-bottom: @spacing--large;		
		});	
		 @media print {
		 	margin-bottom: @spacing;	 
		 }			 
	 }
 }