@import "../../_vars";

.navigation {
	margin-top: @spacing;
	margin-bottom: 3em;  
	h2, h3, h4 {
		margin-bottom: @spacing;
	}
	&__link{
		display: block;					
		border-bottom: 1px solid @color__orange;
		margin-bottom: @spacing--small;
		padding: (@spacing--xsmall - 3px) 0 @spacing--xsmall 0;			
		&--primary{
			.fontSize(@font-size--medium);
			border: none;
			line-height: 1;
			padding: @spacing+3px 0 @spacing 0;	
			border-bottom: 1px solid @color__orange;					
			color: @color__links;
			position: relative;
			i {
				float: right;
			}			
			&:hover{
				//background: lighten(@color__canvas-grey, 3%);
				color: @color__text;
				border-color:  @color__text;
			}
		}
	}
	&--footer {
		.navigation__link {
			margin-bottom: 0;
			display: inline-block;				
			padding-bottom: 0;
			margin-bottom: @spacing--small;
			border-bottom: 1px solid @color__orange--dark;				
			&:hover {
				border-color: @color__white;
			}				
		}	
		.navigation__link--primary {
			display: inline-block;		
			.h2();		
			margin: 0;		
			padding-bottom: 0;
			margin-bottom: @spacing--small;
			border-bottom: 1px solid @color__orange--dark;	
			&:hover {
				border-color: @color__white;
			}		
		}
	}	
}