@import "../../_vars";

.navigation {
	margin-top: @spacing--small;  
	margin-bottom: @spacing--large; 
	.query-min(@screen--sm; {
		margin-top: @spacing;
	});		
	.query-min(@screen--lg; {
		margin-top: @spacing;
	});		
	h2, h3, h4 {
		margin-bottom: @spacing;
	}
	&__title {
		.h4();
	}
	&__link{
		display: block;					
		border-bottom: 1px solid @color__orange;
		margin-bottom: @spacing--small;
		padding: (@spacing--xsmall - 3px) 0 @spacing--xsmall 0;
		.transition(border-color 0.2s ease);			
		&--primary{
			.font-siri--medium();
			.fontSize(20);
			border: none;
			line-height: 1;
			margin: 0;
			padding: (18px + 3px) 0 18px 0;	
			border-bottom: 1px solid @color__orange;					
			color: @color__links;
			position: relative;
			.query-min(@screen--sm; {
				.fontSize(22);				
			});	
			.query-min(@screen--md; {
				padding: (@spacing + 3px) 0 @spacing 0;					
				.fontSize(@font-size--medium);			
			});				
			i {
				float: right;
			}			
			&:hover, &:focus, &:active {
				//background: lighten(@color__canvas-grey, 3%);
				color: @color__text;
				border-color:  @color__text;
			}
		}
	}
	&__link-icon {
		margin-left: 0.25em;
	}
	&--footer {
		.navigation__link {
			margin-bottom: 0;
			display: inline-block;
			padding-bottom: 0;				
			margin-bottom: @spacing--small;
			border-bottom: 1px solid @color__orange--dark;				
			&:hover, &:focus, &:active {
				border-color: @color__white;
			}				
		}	
		.navigation__link--primary {
			display: inline-block;	
			padding-bottom: @spacing--xsmall;				
			.fontSize(24);
			.query-min(@screen--sm; {
				.fontSize(26);				
			});	
			.query-min(@screen--sm; {
				.fontSize(@font-size--large);			
			});	
			margin: 0;		
			margin-bottom: @spacing--small;
			border-bottom: 1px solid transparent;	
			&:hover, &:focus, &:active {
				border-color: @color__white;
			}		
		}
	}	
}