.page-by-logo {
  display: none;
  .query-min(@screen--md; {
    display: block;
    position: absolute;
    right: 0;
    top: @spacing--xlarge*1.5;
  });
}
.header--overlay .page-by-logo {
  display: none;
}
