@import "../../_vars";

.page {
  display: block;
	@media print {
		padding-left: 10%;
		padding-right: 5%;		
	}
	&__master {
		max-width: 100em;
		margin: 0 auto;
		overflow: hidden;
	}
	&__content {
		margin-bottom: @spacing--large;
		.query-min(@screen--md; {
			margin-bottom: @spacing--xlarge;	
		});	
		&--section {
			margin-bottom: 0;
		}	
	}
	&__section {
		&--grey {
			padding-top: @spacing--large;	
			padding-bottom: @spacing--large;
			background: @color__canvas-grey;
			@media print {
				padding: 0;
				background: none;
			}				
		}
	}
	&__section-title {
		.h2();
		margin-bottom: @spacing--large;
		@media print {
			margin-bottom: @spacing;
		}						
	}	
	&__footer {		

	}
}		