@import "../../_vars";

.page {
	@media print {
		padding-left: 10%;
		padding-right: 5%;		
	}
	&__master {
		max-width: 100em;
		margin: 0 auto;
		overflow: hidden;
	}
	&__content {
		margin-bottom: @spacing--large;
		@media (min-width: @screen--md) {
			margin-bottom: @spacing--xlarge;	
		}	
		&--section {
			margin-bottom: 0;
		}	
	}
	&__footer {		
		//background: @color__canvas-grey;
	}
}		