@import "../../_vars";

.search {
	width: 100%;
	position: relative;		
	&__input {
		width: 100%;
		border-color: transparent;
		border-bottom: 2px solid @color__orange;
		padding-right: 50px;	
		&:focus {
			border-bottom-width: 2px;			
		}
	}
	&__button {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		//padding: .5em;
		background: transparent;
		color: @color__orange--dark;
		border-bottom: 2px solid transparent;
		border-color: transparent;
		width: auto;
		.transition(all 0.2s ease);
		&:hover, &:focus {
			border-width: 2px;	
			background: @color__orange;
			border-color: @color__orange;
			color: @color__white;
			.search__button-icon {
				background-image: url('/UI/icons/white/icon-search.svg');
			}
		}
		&:hover {
			background: @color__orange !important;
			border-color: @color__orange !important;
		}	 		
	}
	&__button-icon	{
		background-image: url('/UI/icons/icon-search.svg');
		margin-left: 0.25rem;		
	}	
	.search__input:focus + .search__button {
		background: @color__orange--dark;	
		border-color: @color__orange--dark;	
		color: @color__white;					
		.search__button-icon {
			background-image: url('/UI/icons/white/icon-search.svg');
		}		
	}
	&--footer {
		.search__input {
			background: none;
			border-bottom: 2px solid @color__white;
			color: @color__white;
			margin-bottom: @spacing;
			.transition(all 0.2s ease);
			&::-webkit-input-placeholder {
			   color: @color__white;
			}
			&:-moz-placeholder { /* Firefox 18- */
			   color: @color__white;  
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: @color__white; 
			}
			&:-ms-input-placeholder {  
			   color: @color__white;  
			}
			&:focus {
				background: @color__white;
				color: @color__text;
				border-color: @color__white;
			}			
		}
		.search__button {	
			color: @color__white;	
		}
		.search__input:focus + .search__button {
			border-color: @color__white;	
		}		
	}
}