@import "../../_vars";

a.skiptocontent {
    .font-siri--medium();
    .fontSize(@font-size--regular);  
    padding: @spacing--small 0;
    color: @color__links;	
    background: @color__white;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: top 0.2s ease-out, background 0.2s linear;
    transition: top 0.2s ease-out, background 0.2s linear;
    z-index: 100;
    text-align: center;
    border-bottom: 2px solid @color__links;
    width: 100%;
    .query-min(@screen--md; {	
      width: auto;
  	});    
    &:focus {
      position: absolute;
      top: -10px;
      outline-color: @color__black;
      .query-min(@screen--md; {	
        top: -30px;  
    	});    
    }
}
