@import "../../_vars";

.subsection {
	border: 3px solid @color__canvas-grey;
	background: @color__white;	
	background: lighten( @color__canvas-grey, 3% );
	margin-bottom: @spacing--large;
	padding: @spacing @gutter;		
	&--contracted {
		.animation(animations__fade-out-up 300ms linear);				
	}		
	&--expanded {
		.animation(animations__fade-in-down 400ms linear both);	
	}		
}