@import "../../_vars";

.summary{
	margin-bottom: @spacing--large;
	&__list-item{
		.font-siri--medium();	
		padding: @spacing--small;
		background: @color__canvas-grey;
	}
	&__value{
		.font-siri--regular();
	}
	&__edit{
		float: right;
	}
}