@import "../../_vars";

// Table
table, .table {

	text-align: left;
	margin-bottom: @spacing;
	font-size: @font-size--small;
	width:auto;
	&--fluid {
		min-width:100%;
	}
	&__wrapper {
		width: 100%;
		overflow-x: auto;
		margin-top: @spacing--large;
		margin-bottom: @spacing--large;
		@media (min-width: @screen--lg) {		
			margin-top: @spacing--xlarge;
			margin-bottom: @spacing--xlarge;			
		}		
		//padding: @spacing @spacing--medium @spacing;
		//background: lighten(@color__canvas-grey,10%);
	}
	&__thead, thead {
		border-bottom:1px solid @color__canvas-grey--dark;
	}
	&__th, th, strong {
		.font-siri--medium();
        .fontSize(@font-size--small);			
        padding: @spacing--medium @spacing--medium;	
        @media (min-width: @screen--md) {
	        .fontSize(@font-size--regular);			
        }	
	}
	strong {
		padding: 0;
	}	
	p, ul, ol {
        .fontSize(@font-size--small);			
	}
	&__th--number, td[align="right"] {
		text-align: right;
	}		
	
	&__td, td {
		.font-siri--regular();
        .fontSize(@font-size--small);		
        padding: @spacing--medium @spacing--medium;
        vertical-align: top;	
        border-bottom: 1px solid @color__canvas-grey--dark
	}

	

	&__td--number, td[align="right"] {
		.fontSize(16);		
		text-align: right;				
		font-family: 'Consolas', 'Lucida Console', "Courier";	
	}	
	&__caption, caption {
		.h4();
        padding: @spacing--medium @spacing--medium;		
		color: @color__grey;
		text-align: left;
		@media (min-width: @screen--md) {
			text-align: left;			
		}
	}
}

	
	