@import "../../_vars";

// Table
table, .table {

	text-align: left;
	margin-bottom: @spacing;
	font-size: @font-size--small;
	width:auto;
	&--fluid {
		min-width:100%;
	}
	&__wrapper {
		width: 100%;
		overflow-x: auto;
		margin-top: @spacing--large;
		margin-bottom: @spacing--large;
		.query-min(@screen--lg; {		
			margin-top: @spacing--xlarge;
			margin-bottom: @spacing--xlarge;			
		});		
	}
	&__thead, thead {
		border-bottom:1px solid @color__canvas-grey--dark;
	}
	&__th, th {
		.font-siri--medium();
        .fontSize(@font-size--small);			
        padding: @spacing--medium @spacing--medium;	
        .query-min(@screen--md; {
	        .fontSize(@font-size--regular);			
        });	
	}
	p, li {
        .fontSize(@font-size--small);			
	}
	&__th--number, td[align="right"] {
		text-align: right;
	}		
	
	&__td, td {
		.font-siri--regular();
    .fontSize(@font-size--small);		
    padding: @spacing--medium @spacing--medium;
    vertical-align: top;	
    border-bottom: 1px solid @color__canvas-grey--dark
	}

	

	&__td--number, td[align="right"] {
		.fontSize(16);		
		text-align: right;				
		font-family: 'Consolas', 'Lucida Console', "Courier";	
	}	
	&__caption, caption {
		.h4();
    padding: @spacing--medium @spacing--medium;		
		color: @color__grey;
		text-align: left;
		.query-min(@screen--md; {
			text-align: left;			
		});
	}
}

	
	