@import "../../_vars";

.tabs-button-menu {
	margin-bottom: @spacing--large;
	@media (min-width: @screen--md) {	
	}
	@media (min-width: @screen--lg) {	
		max-width: 45em;	
	}
	&__title {
		.h4();
		margin-bottom: @spacing;
	}
	&__list {
		@media (min-width: @screen--md) {

		}
	}
	&__list-item {
		display: inline-block;
		@media (min-width: @screen--md) {

		}
	}
	&__link{
		.font-siri--medium();	
		.fontSize(@font-size--regular);		
		padding: @spacing--small  @spacing;	
		background: @color__orange;
		color: @color__white;
		text-align: center;
		display: inline-block;
		border: 2px solid @color__orange;		
		margin-bottom: @spacing--medium;
		margin-right: @spacing--medium;		
	
		@media (min-width: @screen--lg) {
	
		}
		&--current {
			background: @color__white;
			color: @color__links;
			@media (min-width: @screen--md) {			

			}
			.tabs-button-menu__icon {
				opacity: 1;
			}
		}
		&:not(.tabs-button-menu__link--current) {
			&:hover, &:focus, &:active {
				background: @color__links;
				border-color:  @color__links;
				color: @color__white;
				@media (min-width: @screen--md) {

				}
			}			
		}
	}
	&__icon {
		margin-right: 0.25em;
		vertical-align: baseline;
		opacity: 1;
	}
}