@import "../../_vars";

.tabs-menu {
	margin-bottom: @spacing--large;
	@media (min-width: @screen--md) {	
		margin-bottom: 0;	
	}
	&__list {
		@media (min-width: @screen--md) {
			display: table;
		}
	}
	&__list-item {
		display: inline-block;
		@media (min-width: @screen--md) {
			display: table-cell;
			text-align: center;
			vertical-align: bottom;
		}
	}
	&__link{
		.fontSize(@font-size--small);		
		padding: @spacing--xsmall  @spacing--medium;
		background: @color__canvas-grey;
		color: @color__text;
		text-align: center;
		display: inline-block;
		border: 2px solid @color__canvas-grey;		
		margin-bottom: @spacing--small;
				
		@media (min-width: @screen--md) {	
			.fontSize(@font-size--regular);			
			.transition(border-color 0.2s ease);	
			margin-bottom: 0;	
			background: none;
			padding: @spacing--xsmall 0 @spacing--xsmall 0;
			border: none;			
			border-bottom: 3px solid @color__orange;	
			border-color: transparent;
			margin: 0 @spacing--medium;			
			margin-bottom: -3px;			
		}		
		@media (min-width: @screen--lg) {
			margin: 0 @spacing;			
		}
		&--current {
			background: @color__white;
			@media (min-width: @screen--md) {			
				color: @color__text;
				border-color:  @color__orange;
				background: none;
			}
			.tabs-menu__icon {
				opacity: 1;
			}
		}
		&:not(.tabs-menu__link--current) {
			&:hover, &:focus, &:active {
				background: darken(@color__canvas-grey, 10%);
				border-color: darken(@color__canvas-grey, 10%);
				@media (min-width: @screen--md) {
					background: inherit;			
					color: @color__text;				
					color: @color__links;
					border-color:  @color__orange;
				}
			}			
		}
	}
	&__icon {
		margin-right: 0.25em;
		vertical-align: baseline;
		opacity: 1;
	}
	&--compact-mobile {
		@media (max-width: @screen--md) {
			margin-bottom: 0;
			.tabs-menu__list {
				display: table;
			}
			.tabs-menu__list-item {
				display: table-cell;
				text-align: center;			
			}
			.tabs-menu__link {
				background: none;
				max-width: @spacing--large;
				overflow: hidden;
				white-space: nowrap;
				margin: 0;
				padding: @spacing--xsmall @spacing--xsmall @spacing--xsmall @spacing--xsmall;
				border: none;
				border-bottom: 3px solid transparent;				
			}
			.tabs-menu__icon {
				//.fontSize(20);				
				margin: 0 @spacing--small;
				margin-right: @spacing--large;
			}
			.tabs-menu__link--current {
				background: none;
				border-color:  @color__orange;				
			} 			
		}
		@media (min-width: @screen--sm) and (max-width: @screen--md) {
			.tabs-menu__link--current {
				max-width: none;	 
				.tabs-menu__icon {
					margin: 0;
					margin-right: 0.25em;
				}
			} 						
		}
	}		
	&--large {

		.tabs-menu__list {
			@media (min-width: @screen--md) {
				width: 100%;
			}
		}
		.tabs-menu__link {								
			@media (min-width: @screen--md) {		
				.fontSize(@font-size--small);
				padding: @spacing--xsmall 0 @spacing--xsmall 0;						
			}
			@media (min-width: @screen--lg) {		
				.fontSize(@font-size--regular);			
				padding: @spacing--medium 0 @spacing--medium 0;				
			}					
		
		}			
	}	
}