@import "../../_vars";

// Table
table, .table {

	text-align: left;
	margin-bottom: calc(@spacing * 2);
	font-size: @font-size--small;
	width:auto;
	position: relative;
	z-index: 1;

	&--fluid {
		min-width:100%;
	}

	&--full-width {
		width: 150%;
		.query-max(@screen--lg; {
			width: 100%;
		});
	}
	&__wrapper {
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		margin-top: @spacing--large;
		margin-bottom: @spacing--large;
		.query-min(@screen--lg; {
			margin-top: @spacing--xlarge;
			margin-bottom: @spacing--xlarge;
		});
	}
	&__thead, thead {
		border-bottom:1px solid @color__canvas-grey--dark;
	}
	&__th, th {
		.font-siri--medium();
        .fontSize(@font-size--small);
        padding: @spacing--medium @spacing--medium;
		border-bottom: 1px solid @color__canvas-grey--dark;
        .query-min(@screen--md; {
	        .fontSize(@font-size--regular);
        });
	}
  .table__th--row {
		.font-siri--medium();
    .fontSize(@font-size--small);
    font-weight: normal;
    padding: @spacing--medium @spacing--medium;
    vertical-align: top;
    border-bottom: 1px solid @color__canvas-grey--dark
  }
	p, li {
        .fontSize(@font-size--small);
	}
	&__th--number, td[align="right"] {
		text-align: right;
	}

	&__td, td {
		.font-siri--regular();
    .fontSize(@font-size--small);
    padding: @spacing--medium @spacing--medium;
    vertical-align: top;
		border-bottom: 1px solid @color__canvas-grey--dark;
		background-color: white;
	}

	&__td--number, td[align="right"] {
		.fontSize(16);
		text-align: right;
		font-family: 'Consolas', 'Lucida Console', "Courier";
	}
	&__caption, caption {
		.h4();
    padding: @spacing--medium @spacing--medium;
		color: @color__grey;
		text-align: left;
		.query-min(@screen--md; {
			text-align: left;
		});
	}
}

// Table Collapsable

.table--collapsable {
  border: 1px solid #ddd;
  border-collapse: collapse;
  hyphens: auto;
  border-bottom: 0;
  padding: 0;
  table-layout: fixed;
	& thead {
	  border-bottom: 0;
	}
	& th,
	& td {
	  padding: 15px;
	  text-align: left;
	}
	& th {
	  font-size: 14px;
	  background: #fafafa;
	  letter-spacing: .1em;
	  text-transform: uppercase;
	  padding: 15px;
	  border-bottom: 2px solid #ddd;
	}

	@media screen and (max-width: 600px) {
	  & thead tr th {
	    display: none;
	  }
	  & thead tr th:first-of-type {
	    display: block;
	    width: 100%;
	  }
	  & tr {
	    display: block;
	  }
	  & td:first-of-type {
	    border-bottom: 1px solid #ddd;
	    display: block;
	    font-size: .8em;
	    text-align: left;
	    padding-right: 30px;
	  }
	  & td:first-of-type:before {
	    /*
	    * aria-label has no advantage, it won't be read inside a table
	    content: attr(aria-label);
	    */
	    content: '';
	    float: right;
	  }
	  & td {
	    border-bottom: 1px solid #ddd;
	    display: block;
	    font-size: .8em;
	    text-align: right;
	    padding-right: 30px;
	  }
	  & td:before {
	    /*
	    * aria-label has no advantage, it won't be read inside a table
	    content: attr(aria-label);
	    */
	    content: attr(data-label);
	    float: left;
	  }
	  & td:first-child {
	    cursor: pointer;
	  }
	  & td.expanded {
	    border-bottom: 2px solid #ddd;
	  }
	  & td:first-child:after {
	    content: '';
			position: absolute;
			background: url(https://imdi-styles.firebaseapp.com/UI/icons/icon-arrow-down.svg);
			transition: all 0.1s ease;
			color: #6f6f6f;
			height: 28px;
			background-size: 19px;
			background-repeat: no-repeat;
			right: 20px;
			width: 24px;
	  }
	  & td.expanded:after {
	    content: '';
	    color: #6f6f6f;
			transform: rotate(180deg) translateY(10px);
			right: 24px;
			padding-left: 10px;
	  }
	  & td.expanded ~ td {
	    display: block;
	    background: #fafafa;
	    animation-name: animations__fade-in-down;
	    animation-duration: 1s;
	  }
	  & td ~ td {
	    display: none;
	  }
	}
}
