@import "../../_vars";

.tabs-button-menu {
	margin-bottom: ( @spacing--large - @spacing--medium );

	.query-min(@screen--lg; {	
		max-width: 45em;	
	});
	@media print {
		display: none;	
	}	
	&__title {
		.h4();
		margin-bottom: @spacing;
	}
	&__list {

	}
	&__list-item {
		display: inline-block;

	}
	&__link{
		.font-siri--medium();	
		.fontSize(@font-size--regular);		
		padding: @spacing--small  @spacing;
		background: white;
		color: @color__text;
		text-align: center;
		display: inline-block;
		border: 1px solid transparent;		
		margin-bottom: @spacing--medium;
		margin-right: @spacing--medium;		
		&--current {
			background: transparent;
			color: @color__text;
			border-color: darken(@color__canvas-grey,10%);
			.tabs-button-menu__icon {
				opacity: 1;
			}
		}
		&:not(.tabs-button-menu__link--current) {
			&:hover, &:focus, &:active {
				background: lighten( @color__canvas-grey, 3%);
				border-color: lighten( @color__canvas-grey, 3%);
				color: @color__links;
			}			
		}
	}
	&__icon {
		margin-right: 0.25em;
		vertical-align: baseline;
		opacity: 1;
	}
}