 @import "../../_vars";

.timeline {
	padding-left: 0;
	&__item {
		margin-bottom: 0;
		padding-bottom: @spacing--small;
		padding-left: @spacing;
		border-left: 2px solid @color__grey;		
		list-style: none;
		&:before {
			content: "";
			display: block;
			position: absolute;	
  		background-image: data-uri('https://imdi-styles.firebaseapp.com/UI/gfx/bullet__small--primary.svg');
  		background-position: center center;
  		background-repeat: no-repeat;			
			width: 25px;
			height: 25px;		
			margin-left: (-@spacing - 14px);	
		}
		@media print {
			padding-left: 0;
			border: none;
			&:before {
				display: none;
			}
		}
		&:last-child {
			border: none;
		}
	}
}