#toc-enabled {
  .navigation:not(.navigation--footer) {
    display: none;
  }
}
.toc-sidebar {
  position: sticky;
  transform: translateX(15px);
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  display: flex;
  flex-direction: column;
  
  .toc-list {
    position: relative;
    left: 20px;
  }

  .is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }
  
  .is-collapsed {
    max-height: 0;
  }
  
  a {
    border-bottom: none;
  }
  
  li:not(.active-link) {
    list-style: none;
  }
  
  // size of h3 in toc list
  .node-name--H3 {
    position: relative;
    height: 25px;
    top: 14px;
    left: 25px;
  }
  
  // remove stupid default list styling
  ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
  }
  
  .toc-link {
    display: flex;
    align-items: baseline;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 400px;
  }

  .active-link {
    font-weight: bold;
    transform: translateX(-20px);
  }

  .toc-link.active-link::before {
    content: "";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    left: 0;
    background-image: url(https://imdi-styles.firebaseapp.com/UI/gfx/bullet__small--primary.svg);
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1100px) {
  .toc-sidebar {
    .toc-link {
      max-width: 300px;
    }

    .table-of-contents {
      right: calc((100% - 45rem - 4rem) / 2); 
    }
  }
}

@media screen and (max-width: 870px) {

  .toc-sidebar {
    .toc-link {
      max-width: 200px;
    }

    .table-of-contents {
      right: calc((100% - 35rem - 4rem) / 2); 
    }
  }
}

@media screen and (max-width: 720px) {
  .toc-sidebar {
    .table-of-contents {
      display: none;
    }
  }
  .navigation {
    display: block !important;
  }
}
