 @import "../../_vars";

.toc {
	&:focus {
		border: none;
		outline: none;
	}
	ol {
		li {

			a {
							
			}
		}
	}
	&__heading {
		&:focus {
			border: none;
			outline: none;			
		}
	}
	&__back {
		.text--small();
		display: block;
		border: none;
		text-decoration: underline;
		color: @color__grey;
		margin-top: @spacing--large;
		margin-bottom: @spacing;
		&:hover, &:focus, &:active {
			color: @color__links;
		}
	}
	&__back-icon {
		.text();
		vertical-align: top;
		opacity: 0.7;
	}
}
