#toc-enabled {
  .navigation:not(.navigation--footer) {
    display: none;
  }

  #title_1 {
    margin-top: 0px;
  }
}

.stick-to-top {
  position: fixed;
  z-index: 0;
}

.toc-sidebar {
  transform: translateX(35px);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  top: 25px;
  
  .toc-list {
    overflow-y: auto;
    position: relative;
    height: 100%;
    max-height: ~"calc(100vh - 30px)";
  }

  .toc-list-item {
    padding-left: 20px;
    font-size: 0.9rem;
  }

  .is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }
  
  .is-collapsed {
    max-height: 0;
  }
  
  a {
    border-bottom: none;
    text-overflow: ellipsis;
  }
  
  li:not(.active-link) {
    list-style: none;
  }
  
  // size of h3 in toc list
  .node-name--H3 {
    position: relative;
    top: 14px;
    left: 25px;
    padding-right: 25px;
  }
  
  // remove stupid default list styling
  ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
  }
  
  .toc-link {
    display: flex;
    align-items: baseline;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 210px;
    color: #d83a36;
    opacity: 0.9;
  }

  .descriptive-header {
    display: none;
  }

  .active-link {
    font-weight: bold;
    transform: translateX(-20px);
    opacity: 1;
  }

  .toc-link.active-link::before {
    content: "";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    padding: 5px;
    left: 0;
    background-image: url(../../../UI/gfx/bullet__small--primary.svg);
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 912px) {
  .toc-sidebar {
    display: none;
  }

  .stick-to-top {
    display: none;
  }

  .navigation {
    display: block !important;
  }
}
