@import "../../_vars";

.toggle {
	margin-bottom: @spacing;
	&__icon {
		display: inline-block;
		margin-left: @spacing--small;
		.transition(transform 250ms @swift-out);
		margin-right: -@spacing--small;
		vertical-align: middle;
	}	
	&__button {
		.font-siri--medium();
		.fontSize(@font-size--regular);		
		min-width: 10px;
		background: @color__canvas-grey;  
		padding: @spacing--small  @spacing;
		text-align: left;
		border: 2px solid transparent;	
		display: inline-block;	
		color: @color__text;
		.transition(min-width 250ms @swift-out);
		&:hover, &:focus, &:active {
			background: darken(@color__canvas-grey, 10%);
			border: 2px solid darken(@color__canvas-grey, 10%);
			color: @color__text;
		}			
		&--expanded {
			min-width: 100%;
			background: @color__orange--dark;
			color: @color__white;
			&:hover, &:focus {
				background: @color__orange;
				border-color: @color__orange;
				border-bottom-color: @color__orange;
				color: @color__white;				
			}
			.toggle__icon {
				.transform(rotate(180deg));					
			}
		}
	}
	&__link {
		.font-siri--medium();
		.fontSize(@font-size--small);		
		background: @color__canvas-grey;  
		padding: @spacing--xsmall  @spacing;
		text-align: left;
		border: 2px solid transparent;	
		display: inline-block;	
		color: @color__text;
		.transition(min-width 250ms @swift-out);
		&:hover, &:focus, &:active {
			background: darken(@color__canvas-grey, 10%);
			border: 2px solid darken(@color__canvas-grey, 10%);
			color: @color__text;
		}			
		
		&--expanded {
			.toggle__icon {
				.transform(rotate(180deg));					
			}			
		}
	}
	&__section {
		padding: @spacing @spacing;
		border: 3px solid @color__orange;
		margin-bottom: @spacing--large !important;
		&--contracted {
			.animation(animations__fade-out-up 300ms linear);				
		}		
		&--expanded {
			.animation(animations__fade-in-down 400ms linear both);	
		}			
	}
	
	&--only-mobile {
		@media (min-width: @screen--lg) {
			.toggle__button {
				display: none;
			}	
			.toggle__section {
				display: block !important;
				border: none;
			}
		}
	}
}