@import "../../_vars";

.toggle-list {
  display: block;
	margin: @spacing 0;	
	@media print {
		margin-left: -@spacing;
		page-break-inside: avoid;
	}
	&__button {
		z-index: 1;
		opacity: .99;
		display: block;
		position: relative;
		padding: @spacing;
		padding-right: (@spacing * 2);
		background: @color__white;			
		border: none;
		margin: 0;
		color: @color__text;
		&:hover, &:focus, &:active {
			color: @color__links;
			background: lighten( @color__canvas-grey, 3%);	
		}	
		@media print {
			display: none;
		}				
		&--disablet {
  		color: @color__grey;
		}		
		&--expanded {		
			background: lighten( @color__canvas-grey, 3%);	
			margin: 0 ( -@gutter);	
			border: none;	
			.query-min(@screen--md; {
				margin: 0;	
				width: percentage(21/14);
			});	
			.query-min(@screen--lg; {
				width: percentage(20/12);
			});			
			@media print {
				display: block;
				padding: 0;
				background: none;
			}							
			.toggle-list__button-icon {
				.transform(rotate(180deg));					
			}
		}
	}
	&__button-title {
		.h3();
		line-height: 1;
		margin: 0;
  	@media print {
  		margin-left: @spacing;
  	}
	}
	&__button-icon {
		.transform(rotate(180deg));
    position: absolute;
    top: @spacing;
    right: @spacing--medium;
		.transition(transform 250ms @swift-out);
	}	
	&__section {
		padding: @spacing  @spacing;	
		background: @color__white;
		margin: 0 ( -@gutter);		
		.query-min(@screen--md; {
			margin: 0;	
		});
		&--no-styles {
			padding: 0;			
			background: none;
		}	
		&--contracted {
			.animation(animations__fade-out-up 250ms @swift-out);				
		}

		&--expanded {
			z-index: 2;
			position: relative;

			.animation(animations__fade-in-down 400ms @swift-out both);	
			.query-min(@screen--md; {
				width: percentage(21/14);
			});	
  		.query-min(@screen--lg; {
				width: percentage(20/12);
			});			
			
		}			
	}
	&__section-header {
		background: lighten( @color__canvas-grey, 3%);
		margin: -@spacing;
		margin-bottom: @spacing;
		padding: 0 @gutter;
		.query-min(@screen--md; {
			padding: 0;
		});	
	}
	&--small {
		margin: @spacing--small 0;
		.toggle-list__button {
			padding: @spacing--small @spacing--medium;
			padding-right: @spacing + @spacing--medium;			
		}	
		.toggle-list__button-icon {
			margin-right: -@spacing;
		}	
		.toggle-list__button-title {
			.text();
			margin: 0;
			//line-height: 1;
		}
		.toggle-list__button--expanded {
			.query-min(@screen--md; {
				width: 100%;
			});
		}
		.toggle-list__section--expanded {
			.query-min(@screen--md; {	
				width: 100%;
			});
		}
		.toggle-list__section {
		}
	}
}