@import "../../_vars";

.toggle-list {
	margin: @spacing 0;
	&__button {
		
		display: block;
		padding: @spacing;
		background: @color__white;			
		border: none;
		margin: 0;
		color: @color__text;
		&:hover, &:focus, &:active {
			color: @color__links;
			background: lighten( @color__canvas-grey, 3%);	
		}			
		&--expanded {		
			background: lighten( @color__canvas-grey, 3%);	
			margin: 0 ( -@gutter);		
			@media (min-width: @screen--md) {
				margin: 0;	
				width: percentage(21/14);
			}	
			@media screen and (min-width: @screen--lg) {
				width: percentage(20/12);
			}			
			&:hover, &:focus {
			}
			.toggle-list__button-icon {
				.transform(rotate(180deg));					
			}
		}
	}
	&__button-title {
		.h3();
		line-height: 1;
		margin: 0;
	}
	&__button-icon {
		float: right;
		.transition(transform 250ms @swift-out);
	}	
	&__section {
		padding: @spacing  @spacing;	
		background: @color__white;
		margin: 0 ( -@gutter);		
		@media (min-width: @screen--md) {
			margin: 0;	
		}
		&--no-styles {
			padding: 0;			
			background: none;
		}	
		&--contracted {
			.animation(animations__fade-out-up 250ms @swift-out);				
		}		
		&--expanded {
			.animation(animations__fade-in-down 400ms @swift-out both);	
			@media (min-width: @screen--md) {
				width: percentage(21/14);
			}	
			@media screen and (min-width: @screen--lg) {
				width: percentage(20/12);
			}			
			
		}			
	}
	&__section-header {
		background: lighten( @color__canvas-grey, 3%);
		padding: 0 @gutter;	
		@media (min-width: @screen--md) {
			padding: 0;
		}	
	}
	&--small {
		margin: @spacing--small 0;
		.toggle-list__button {
			padding: @spacing--small @spacing--medium;
			padding-right: @spacing + @spacing--medium;			
		}	
		.toggle-list__button-icon {
			margin-right: -@spacing;
		}	
		.toggle-list__button-title {
			.text();
			margin: 0;
			//line-height: 1;
		}
		.toggle-list__button--expanded {
			@media (min-width: @screen--md) {
				width: 100%;
			}
		}
		.toggle-list__section--expanded {
			@media (min-width: @screen--md) {	
				width: 100%;
			}
		}
		.toggle-list__section {
		}
	}
/*	
	&--only-mobile {

		@media (min-width: @screen--lg) {
			.toggle__button {
				display: none;
			}	
			.toggle__section {
				display: block !important;
				border: none;
			}
		}
	}
	*/
}